In [1]:
import pandas as pd
import numpy as np

In [2]:
CPS = pd.read_csv('cps_00006.csv.gz')

# Categories

## Race

In [3]:
CPS['RACE'].unique()

array([100, 300, 200, 803, 802, 651, 801, 652, 830, 813, 806, 810, 804,
       805, 808, 820, 811, 809, 807, 814, 812, 816, 818, 817, 815, 819])

In [4]:
#Create new column called race category. Create conditions for categories and assign values to each condition
conditions = [
    (CPS['RACE'] == 100),(CPS['RACE'] == 200),(CPS['RACE'] == 300),
    (CPS['RACE'] == 651),(CPS['RACE'] == 652),(CPS['RACE'] >= 801)
    ]
values = ['White', 'Black', 'American Indian/Native','Asian', 'Hawaiian/Pacific Islander', 'Two or more races']

CPS['RACE_CAT'] = np.select(conditions, values)

CPS.head(10)

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,STATEFIP,METRO,...,EMPSTAT,IND,CLASSWKR,PAIDEMP1,PAIDEMP1N,COVIDTELEW,COVIDUNAW,COVIDPAID,COVIDLOOK,RACE_CAT
0,2010,1,3,NaN,20091200101400,1.0,NaN,485.99,23,1,...,32,0,0,NaN,NaN,NaN,NaN,NaN,NaN,White
1,2010,2,3,NaN,20091201328700,1.0,NaN,531.71,23,1,...,32,0,0,NaN,NaN,NaN,NaN,NaN,NaN,White
2,2010,3,3,NaN,20091202862200,1.0,NaN,474.40,23,1,...,36,0,0,NaN,NaN,NaN,NaN,NaN,NaN,White
3,2010,3,3,NaN,20091202862200,1.0,NaN,474.40,23,1,...,36,0,0,NaN,NaN,NaN,NaN,NaN,NaN,White
4,2010,4,3,NaN,20091201328800,1.0,NaN,486.65,23,1,...,10,7770,14,NaN,NaN,NaN,NaN,NaN,NaN,White
5,2010,4,3,NaN,20091201328800,1.0,NaN,486.65,23,1,...,10,5580,13,NaN,NaN,NaN,NaN,NaN,NaN,White
6,2010,5,3,NaN,20091205103500,1.0,NaN,474.40,23,1,...,36,0,0,NaN,NaN,NaN,NaN,NaN,NaN,White
7,2010,6,3,NaN,20091200402700,1.0,NaN,267.76,23,1,...,10,8180,21,NaN,NaN,NaN,NaN,NaN,NaN,White
8,2010,6,3,NaN,20091200402700,1.0,NaN,267.76,23,1,...,10,8770,21,NaN,NaN,NaN,NaN,NaN,NaN,White
9,2010,6,3,NaN,20091200402700,1.0,NaN,267.76,23,1,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,White

In [5]:
CPS['RACE_CAT'].unique()

array(['White', 'American Indian/Native', 'Black', 'Two or more races',
       'Asian', 'Hawaiian/Pacific Islander'], dtype=object)

In [6]:
CPS['HISPAN'].unique()

array([  0, 610, 100, 200, 300, 600, 611, 400, 612, 500])

In [7]:
#Create new column called hispanic category. Create conditions for categories and assign values to each condition
conditions = [
    (CPS['HISPAN'] == 0),(CPS['HISPAN'] >= 100)
    ]
values = ['Not Hispanic/ Latinx', 'Hispanic/ Latinx']

CPS['HISPAN_CAT'] = np.select(conditions, values)

CPS.head(10)

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,STATEFIP,METRO,...,IND,CLASSWKR,PAIDEMP1,PAIDEMP1N,COVIDTELEW,COVIDUNAW,COVIDPAID,COVIDLOOK,RACE_CAT,HISPAN_CAT
0,2010,1,3,NaN,20091200101400,1.0,NaN,485.99,23,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx
1,2010,2,3,NaN,20091201328700,1.0,NaN,531.71,23,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx
2,2010,3,3,NaN,20091202862200,1.0,NaN,474.40,23,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx
3,2010,3,3,NaN,20091202862200,1.0,NaN,474.40,23,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx
4,2010,4,3,NaN,20091201328800,1.0,NaN,486.65,23,1,...,7770,14,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx
5,2010,4,3,NaN,20091201328800,1.0,NaN,486.65,23,1,...,5580,13,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx
6,2010,5,3,NaN,20091205103500,1.0,NaN,474.40,23,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx
7,2010,6,3,NaN,20091200402700,1.0,NaN,267.76,23,1,...,8180,21,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx
8,2010,6,3,NaN,20091200402700,1.0,NaN,267.76,23,1,...,8770,21,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx
9,2010,6,3,NaN,20091200402700,1.0,NaN,267.76,23,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx

In [8]:
CPS['HISPAN_CAT'].unique()

array(['Not Hispanic/ Latinx', 'Hispanic/ Latinx'], dtype=object)

In [9]:
CPS[["RACE_CAT", "HISPAN_CAT"]]

                  RACE_CAT            HISPAN_CAT
0                    White  Not Hispanic/ Latinx
1                    White  Not Hispanic/ Latinx
2                    White  Not Hispanic/ Latinx
3                    White  Not Hispanic/ Latinx
4                    White  Not Hispanic/ Latinx
...                    ...                   ...
3707850              White      Hispanic/ Latinx
3707851  Two or more races      Hispanic/ Latinx
3707852              White      Hispanic/ Latinx
3707853              White      Hispanic/ Latinx
3707854              White  Not Hispanic/ Latinx

[3707855 rows x 2 columns]

In [10]:
copy=CPS.copy()

In [11]:
conditions = [
    (CPS['HISPAN_CAT'] == "Hispanic/ Latinx"),
    (CPS['HISPAN_CAT'] != 'Hispanic/ Latinx')
    ]
values = ["Hispanic/ Latinx", CPS["RACE_CAT"]]
CPS['RACE2_CAT'] = np.select(conditions, values)
CPS

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,STATEFIP,METRO,...,CLASSWKR,PAIDEMP1,PAIDEMP1N,COVIDTELEW,COVIDUNAW,COVIDPAID,COVIDLOOK,RACE_CAT,HISPAN_CAT,RACE2_CAT
0,2010,1,3,NaN,20091200101400,1.0,NaN,485.99,23,1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White
1,2010,2,3,NaN,20091201328700,1.0,NaN,531.71,23,1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White
2,2010,3,3,NaN,20091202862200,1.0,NaN,474.40,23,1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White
3,2010,3,3,NaN,20091202862200,1.0,NaN,474.40,23,1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White
4,2010,4,3,NaN,20091201328800,1.0,NaN,486.65,23,1,...,14,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3707850,2021,68950,3,327.5283,20191207029100,2.0,NaN,NaN,56,4,...,28,99.0,99.0,NaN,NaN,NaN,NaN,White,Hispanic/ Latinx,Hispanic/ Latinx
3707851,2021,68950,3,327.5283,20191207029100,2.0,NaN,NaN,56,4,...,0,99.0,99.0,NaN,NaN,NaN,NaN,Two or more races,Hispanic/ Latinx,Hispanic/ Latinx
3707852,2021,68950,3,327.5283,20191207029100,2.0,NaN,NaN,56,4,...,0,99.0,99.0,NaN,NaN,NaN,NaN,White,Hispanic/ Latinx,Hispanic/ Latinx
3707853,2021,68950,3,327.5283,20191207029100,2.0,NaN,NaN,56,4,...,0,99.0,99.0,NaN,NaN,NaN,NaN,White,Hispanic/ Latinx,Hispanic/ Latinx
3707854,2021,68951,3,380.0523,20210306895100,2.0,NaN,NaN,56,4,...,22,99.0,99.0,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White

In [12]:
CPS["RACE2_CAT"].unique()

array(['White', 'American Indian/Native', 'Black', 'Two or more races',
       'Asian', 'Hispanic/ Latinx', 'Hawaiian/Pacific Islander'],
      dtype=object)

In [13]:
#Create new column called Asian category. Create conditions for categories and assign values to each condition
conditions = [
    (CPS['ASIAN'] == 99.),(CPS['ASIAN'] == 30.),(CPS['ASIAN'] == 10.),
    (CPS['ASIAN'] == 70.),(CPS['ASIAN'] == 40.),(CPS['ASIAN'] == 20.),
    (CPS['ASIAN'] == 50.),(CPS['ASIAN'] == 60.),
    ]
values = ['NIU', 'Filipino', 'Asian Indian','Other Asian', 'Japanese', 'Chinese', 'Korean', 'Vietnamese']

CPS['ASIAN_CAT'] = np.select(conditions, values)

CPS.head(10)

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,STATEFIP,METRO,...,PAIDEMP1,PAIDEMP1N,COVIDTELEW,COVIDUNAW,COVIDPAID,COVIDLOOK,RACE_CAT,HISPAN_CAT,RACE2_CAT,ASIAN_CAT
0,2010,1,3,NaN,20091200101400,1.0,NaN,485.99,23,1,...,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0
1,2010,2,3,NaN,20091201328700,1.0,NaN,531.71,23,1,...,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0
2,2010,3,3,NaN,20091202862200,1.0,NaN,474.40,23,1,...,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0
3,2010,3,3,NaN,20091202862200,1.0,NaN,474.40,23,1,...,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0
4,2010,4,3,NaN,20091201328800,1.0,NaN,486.65,23,1,...,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0
5,2010,4,3,NaN,20091201328800,1.0,NaN,486.65,23,1,...,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0
6,2010,5,3,NaN,20091205103500,1.0,NaN,474.40,23,1,...,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0
7,2010,6,3,NaN,20091200402700,1.0,NaN,267.76,23,1,...,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0
8,2010,6,3,NaN,20091200402700,1.0,NaN,267.76,23,1,...,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0
9,2010,6,3,NaN,20091200402700,1.0,NaN,267.76,23,1,...,NaN,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0

## Industries

In [14]:
OUR_INDUSTRIES = [4770, 5170, 5180, 5190, 5275, 5370, 5381, 5391, 5470, 5480, 5490, 5580, 8690, 8680, 8990, 9070]
conditions = [
    (CPS['IND']==4770),
    (CPS['IND']==5170),
    (CPS['IND']==5180),
    (CPS['IND']==5190), 
    (CPS['IND']==5275), 
    (CPS['IND']==5370), 
    (CPS['IND']==5381), 
    (CPS['IND']==5391), 
    (CPS['IND']==5470), 
    (CPS['IND']==5480), 
    (CPS['IND']==5490), 
    (CPS['IND']==5580),
    (CPS['IND']==8690),
    (CPS['IND']==8680),
    (CPS["IND"]==8990),
    (CPS["IND"]==9070),
    ~(CPS['IND'].isin(OUR_INDUSTRIES)) 
    ]
values = ['Furniture', 
          'Clothing',
          'Shoes',
          'Jewelry_Luggage',
          'Sporting_Hobby', 
          'Bookstore', 
          'Deparment_store',
          'Other_General_Merchandise',
          'Florists',
          'Office_supplies',
          'Used_Merchandise',
          'Misc_Retail',
          'Drinking_place',
          'Restaurants',
          'Nailsalon_personalcare',
          'Laundry_service',
          "Other_notinstudy"]

CPS['IND_CAT'] = np.select(conditions, values)

In [15]:
CPS

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,STATEFIP,METRO,...,PAIDEMP1N,COVIDTELEW,COVIDUNAW,COVIDPAID,COVIDLOOK,RACE_CAT,HISPAN_CAT,RACE2_CAT,ASIAN_CAT,IND_CAT
0,2010,1,3,NaN,20091200101400,1.0,NaN,485.99,23,1,...,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy
1,2010,2,3,NaN,20091201328700,1.0,NaN,531.71,23,1,...,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy
2,2010,3,3,NaN,20091202862200,1.0,NaN,474.40,23,1,...,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy
3,2010,3,3,NaN,20091202862200,1.0,NaN,474.40,23,1,...,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy
4,2010,4,3,NaN,20091201328800,1.0,NaN,486.65,23,1,...,NaN,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3707850,2021,68950,3,327.5283,20191207029100,2.0,NaN,NaN,56,4,...,99.0,NaN,NaN,NaN,NaN,White,Hispanic/ Latinx,Hispanic/ Latinx,0,Other_notinstudy
3707851,2021,68950,3,327.5283,20191207029100,2.0,NaN,NaN,56,4,...,99.0,NaN,NaN,NaN,NaN,Two or more races,Hispanic/ Latinx,Hispanic/ Latinx,0,Other_notinstudy
3707852,2021,68950,3,327.5283,20191207029100,2.0,NaN,NaN,56,4,...,99.0,NaN,NaN,NaN,NaN,White,Hispanic/ Latinx,Hispanic/ Latinx,0,Other_notinstudy
3707853,2021,68950,3,327.5283,20191207029100,2.0,NaN,NaN,56,4,...,99.0,NaN,NaN,NaN,NaN,White,Hispanic/ Latinx,Hispanic/ Latinx,0,Other_notinstudy
3707854,2021,68951,3,380.0523,20210306895100,2.0,NaN,NaN,56,4,...,99.0,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Laundry_service

## Employment

In [16]:
#Create new column called Self Employed category. Create conditions for categories and assign values to each condition
conditions = [
    (CPS['CLASSWKR'] == 10.),(CPS['CLASSWKR'] == 13.),(CPS['CLASSWKR'] == 14.),
    (CPS['CLASSWKR'] == 20.),(CPS['CLASSWKR'] == 21.),(CPS['CLASSWKR'] == 22.),
    (CPS['CLASSWKR'] == 23.),(CPS['CLASSWKR'] == 24.), (CPS['CLASSWKR'] == 25.),
    (CPS['CLASSWKR'] == 26.), (CPS['CLASSWKR'] == 27.), (CPS['CLASSWKR'] == 28.), 
    (CPS['CLASSWKR'] == 29.), (CPS['CLASSWKR'] == 00.), (CPS['CLASSWKR'] == 99.),
    ]
values = ['Self_Employed', 'Self_Employed', 'Self_Employed', 
          'Not_Self_Employed', 'Not_Self_Employed', 'Not_Self_Employed', 
          'Not_Self_Employed', 'Not_Self_Employed', 'Not_Self_Employed', 
          'Not_Self_Employed', 'Not_Self_Employed', 'Not_Self_Employed', 
          'Not_Self_Employed', 'NA', 'NA']

CPS['SELFEMPLOYED_CAT'] = np.select(conditions, values)

CPS.head(10)

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,STATEFIP,METRO,...,COVIDTELEW,COVIDUNAW,COVIDPAID,COVIDLOOK,RACE_CAT,HISPAN_CAT,RACE2_CAT,ASIAN_CAT,IND_CAT,SELFEMPLOYED_CAT
0,2010,1,3,NaN,20091200101400,1.0,NaN,485.99,23,1,...,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA
1,2010,2,3,NaN,20091201328700,1.0,NaN,531.71,23,1,...,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA
2,2010,3,3,NaN,20091202862200,1.0,NaN,474.40,23,1,...,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA
3,2010,3,3,NaN,20091202862200,1.0,NaN,474.40,23,1,...,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA
4,2010,4,3,NaN,20091201328800,1.0,NaN,486.65,23,1,...,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,Self_Employed
5,2010,4,3,NaN,20091201328800,1.0,NaN,486.65,23,1,...,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Misc_Retail,Self_Employed
6,2010,5,3,NaN,20091205103500,1.0,NaN,474.40,23,1,...,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA
7,2010,6,3,NaN,20091200402700,1.0,NaN,267.76,23,1,...,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,Not_Self_Employed
8,2010,6,3,NaN,20091200402700,1.0,NaN,267.76,23,1,...,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,Not_Self_Employed
9,2010,6,3,NaN,20091200402700,1.0,NaN,267.76,23,1,...,NaN,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA

In [17]:
# Employment counts

pd.crosstab(index=CPS['SELFEMPLOYED_CAT'], columns='count', margins=True, margins_name="Total")

col_0                count    Total
SELFEMPLOYED_CAT
NA                 1873863  1873863
Not_Self_Employed  1644956  1644956
Self_Employed       189036   189036
Total              3707855  3707855

## Locations

In [18]:
# Create new column for State

conditions = [
    (CPS['STATEFIP']==6),(CPS['STATEFIP']!=6) 
    ]
values = ['CA', "Not_CA"]

CPS['State_Cat'] = np.select(conditions, values)

CPS.head(10)

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,STATEFIP,METRO,...,COVIDUNAW,COVIDPAID,COVIDLOOK,RACE_CAT,HISPAN_CAT,RACE2_CAT,ASIAN_CAT,IND_CAT,SELFEMPLOYED_CAT,State_Cat
0,2010,1,3,NaN,20091200101400,1.0,NaN,485.99,23,1,...,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA,Not_CA
1,2010,2,3,NaN,20091201328700,1.0,NaN,531.71,23,1,...,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA,Not_CA
2,2010,3,3,NaN,20091202862200,1.0,NaN,474.40,23,1,...,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA,Not_CA
3,2010,3,3,NaN,20091202862200,1.0,NaN,474.40,23,1,...,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA,Not_CA
4,2010,4,3,NaN,20091201328800,1.0,NaN,486.65,23,1,...,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,Self_Employed,Not_CA
5,2010,4,3,NaN,20091201328800,1.0,NaN,486.65,23,1,...,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Misc_Retail,Self_Employed,Not_CA
6,2010,5,3,NaN,20091205103500,1.0,NaN,474.40,23,1,...,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA,Not_CA
7,2010,6,3,NaN,20091200402700,1.0,NaN,267.76,23,1,...,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,Not_Self_Employed,Not_CA
8,2010,6,3,NaN,20091200402700,1.0,NaN,267.76,23,1,...,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,Not_Self_Employed,Not_CA
9,2010,6,3,NaN,20091200402700,1.0,NaN,267.76,23,1,...,NaN,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA,Not_CA

In [19]:
conditions = [
    (CPS['METAREA']==7365),(CPS['METAREA']!=7365) 
    ]
values = ['Bay_Area', "Not_Bay_Area"]

CPS['SF_OAK_FRE'] = np.select(conditions, values)

CPS.head(10)

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,STATEFIP,METRO,...,COVIDPAID,COVIDLOOK,RACE_CAT,HISPAN_CAT,RACE2_CAT,ASIAN_CAT,IND_CAT,SELFEMPLOYED_CAT,State_Cat,SF_OAK_FRE
0,2010,1,3,NaN,20091200101400,1.0,NaN,485.99,23,1,...,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area
1,2010,2,3,NaN,20091201328700,1.0,NaN,531.71,23,1,...,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area
2,2010,3,3,NaN,20091202862200,1.0,NaN,474.40,23,1,...,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area
3,2010,3,3,NaN,20091202862200,1.0,NaN,474.40,23,1,...,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area
4,2010,4,3,NaN,20091201328800,1.0,NaN,486.65,23,1,...,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,Self_Employed,Not_CA,Not_Bay_Area
5,2010,4,3,NaN,20091201328800,1.0,NaN,486.65,23,1,...,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Misc_Retail,Self_Employed,Not_CA,Not_Bay_Area
6,2010,5,3,NaN,20091205103500,1.0,NaN,474.40,23,1,...,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area
7,2010,6,3,NaN,20091200402700,1.0,NaN,267.76,23,1,...,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area
8,2010,6,3,NaN,20091200402700,1.0,NaN,267.76,23,1,...,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area
9,2010,6,3,NaN,20091200402700,1.0,NaN,267.76,23,1,...,NaN,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area

## COVID

In [20]:
#Create new column called COVIDPAID category. Create conditions for categories and assign values to each condition
conditions = [
    (CPS['COVIDPAID']==99),(CPS['COVIDPAID']==2.),(CPS['COVIDPAID']==1.) 
    ]
values = ['NIU', 'Yes', 'No']

CPS['COVIDPAID_CAT'] = np.select(conditions, values)

CPS.tail(10)

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,STATEFIP,METRO,...,COVIDLOOK,RACE_CAT,HISPAN_CAT,RACE2_CAT,ASIAN_CAT,IND_CAT,SELFEMPLOYED_CAT,State_Cat,SF_OAK_FRE,COVIDPAID_CAT
3707845,2021,68943,3,342.9225,20201206892500,2.0,NaN,NaN,56,4,...,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0
3707846,2021,68944,3,454.7251,20210106908900,2.0,NaN,NaN,56,4,...,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0
3707847,2021,68946,3,376.7927,20201206892800,2.0,NaN,NaN,56,4,...,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,0
3707848,2021,68946,3,376.7927,20201206892800,2.0,NaN,NaN,56,4,...,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,0
3707849,2021,68948,3,357.3416,20200307032300,2.0,NaN,NaN,56,4,...,NaN,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0
3707850,2021,68950,3,327.5283,20191207029100,2.0,NaN,NaN,56,4,...,NaN,White,Hispanic/ Latinx,Hispanic/ Latinx,0,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,0
3707851,2021,68950,3,327.5283,20191207029100,2.0,NaN,NaN,56,4,...,NaN,Two or more races,Hispanic/ Latinx,Hispanic/ Latinx,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0
3707852,2021,68950,3,327.5283,20191207029100,2.0,NaN,NaN,56,4,...,NaN,White,Hispanic/ Latinx,Hispanic/ Latinx,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0
3707853,2021,68950,3,327.5283,20191207029100,2.0,NaN,NaN,56,4,...,NaN,White,Hispanic/ Latinx,Hispanic/ Latinx,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0
3707854,2021,68951,3,380.0523,20210306895100,2.0,NaN,NaN,56,4,...,NaN,White,Not Hispanic/ Latinx,White,0,Laundry_service,Not_Self_Employed,Not_CA,Not_Bay_Area,0

In [21]:
# paid for hours that they were unable to work

pd.crosstab(index=CPS['COVIDPAID_CAT'], columns='count', margins=True, margins_name="Total")

col_0            count    Total
COVIDPAID_CAT
0              2655868  2655868
NIU             982554   982554
No               59519    59519
Yes               9914     9914
Total          3707855  3707855

In [22]:
#Create new column called COVIDUNAW category. Create conditions for categories and assign values to each condition
conditions = [
    (CPS['COVIDUNAW']==1.),(CPS['COVIDUNAW']==99.),(CPS['COVIDUNAW']==2.) 
    ]
values = ['No', 'NIU', 'Yes']

CPS['COVIDUNAW_CAT'] = np.select(conditions, values)

CPS.tail(10)

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,STATEFIP,METRO,...,RACE_CAT,HISPAN_CAT,RACE2_CAT,ASIAN_CAT,IND_CAT,SELFEMPLOYED_CAT,State_Cat,SF_OAK_FRE,COVIDPAID_CAT,COVIDUNAW_CAT
3707845,2021,68943,3,342.9225,20201206892500,2.0,NaN,NaN,56,4,...,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0
3707846,2021,68944,3,454.7251,20210106908900,2.0,NaN,NaN,56,4,...,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0
3707847,2021,68946,3,376.7927,20201206892800,2.0,NaN,NaN,56,4,...,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,0,0
3707848,2021,68946,3,376.7927,20201206892800,2.0,NaN,NaN,56,4,...,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,0,0
3707849,2021,68948,3,357.3416,20200307032300,2.0,NaN,NaN,56,4,...,White,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0
3707850,2021,68950,3,327.5283,20191207029100,2.0,NaN,NaN,56,4,...,White,Hispanic/ Latinx,Hispanic/ Latinx,0,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,0,0
3707851,2021,68950,3,327.5283,20191207029100,2.0,NaN,NaN,56,4,...,Two or more races,Hispanic/ Latinx,Hispanic/ Latinx,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0
3707852,2021,68950,3,327.5283,20191207029100,2.0,NaN,NaN,56,4,...,White,Hispanic/ Latinx,Hispanic/ Latinx,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0
3707853,2021,68950,3,327.5283,20191207029100,2.0,NaN,NaN,56,4,...,White,Hispanic/ Latinx,Hispanic/ Latinx,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0
3707854,2021,68951,3,380.0523,20210306895100,2.0,NaN,NaN,56,4,...,White,Not Hispanic/ Latinx,White,0,Laundry_service,Not_Self_Employed,Not_CA,Not_Bay_Area,0,0

In [23]:
#Create new column called COVIDLOOK category. Create conditions for categories and assign values to each condition
conditions = [
    (CPS['COVIDLOOK']==1.),(CPS['COVIDLOOK']==99.),(CPS['COVIDLOOK']==2.) 
    ]
values = ['No', 'NIU', 'Yes']

CPS['COVIDLOOK_CAT'] = np.select(conditions, values)

CPS.tail(10)

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,STATEFIP,METRO,...,HISPAN_CAT,RACE2_CAT,ASIAN_CAT,IND_CAT,SELFEMPLOYED_CAT,State_Cat,SF_OAK_FRE,COVIDPAID_CAT,COVIDUNAW_CAT,COVIDLOOK_CAT
3707845,2021,68943,3,342.9225,20201206892500,2.0,NaN,NaN,56,4,...,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0,0
3707846,2021,68944,3,454.7251,20210106908900,2.0,NaN,NaN,56,4,...,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0,0
3707847,2021,68946,3,376.7927,20201206892800,2.0,NaN,NaN,56,4,...,Not Hispanic/ Latinx,White,0,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,0,0,0
3707848,2021,68946,3,376.7927,20201206892800,2.0,NaN,NaN,56,4,...,Not Hispanic/ Latinx,White,0,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,0,0,0
3707849,2021,68948,3,357.3416,20200307032300,2.0,NaN,NaN,56,4,...,Not Hispanic/ Latinx,White,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0,0
3707850,2021,68950,3,327.5283,20191207029100,2.0,NaN,NaN,56,4,...,Hispanic/ Latinx,Hispanic/ Latinx,0,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,0,0,0
3707851,2021,68950,3,327.5283,20191207029100,2.0,NaN,NaN,56,4,...,Hispanic/ Latinx,Hispanic/ Latinx,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0,0
3707852,2021,68950,3,327.5283,20191207029100,2.0,NaN,NaN,56,4,...,Hispanic/ Latinx,Hispanic/ Latinx,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0,0
3707853,2021,68950,3,327.5283,20191207029100,2.0,NaN,NaN,56,4,...,Hispanic/ Latinx,Hispanic/ Latinx,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0,0
3707854,2021,68951,3,380.0523,20210306895100,2.0,NaN,NaN,56,4,...,Not Hispanic/ Latinx,White,0,Laundry_service,Not_Self_Employed,Not_CA,Not_Bay_Area,0,0,0

# Employment by Industry

## 2020 - US

In [24]:
#Extract year 2020 

CPS_2020 = CPS[(CPS['YEAR']==2020)]
CPS_2020.tail(5)

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,STATEFIP,METRO,...,HISPAN_CAT,RACE2_CAT,ASIAN_CAT,IND_CAT,SELFEMPLOYED_CAT,State_Cat,SF_OAK_FRE,COVIDPAID_CAT,COVIDUNAW_CAT,COVIDLOOK_CAT
3380412,2020,68927,12,438.2519,20201106884600,NaN,NaN,NaN,56,4,...,Not Hispanic/ Latinx,White,0,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,NIU,No,NIU
3380413,2020,68931,12,334.2817,20191207029100,NaN,NaN,NaN,56,4,...,Hispanic/ Latinx,Hispanic/ Latinx,0,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,NIU,No,NIU
3380414,2020,68931,12,334.2817,20191207029100,NaN,NaN,NaN,56,4,...,Hispanic/ Latinx,Hispanic/ Latinx,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area,NIU,NIU,NIU
3380415,2020,68931,12,334.2817,20191207029100,NaN,NaN,NaN,56,4,...,Hispanic/ Latinx,Hispanic/ Latinx,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area,NIU,NIU,NIU
3380416,2020,68931,12,334.2817,20191207029100,NaN,NaN,NaN,56,4,...,Hispanic/ Latinx,Hispanic/ Latinx,0,Other_notinstudy,NA,Not_CA,Not_Bay_Area,NIU,NIU,NIU

In [25]:
CPS_2020_ASECFLAG = CPS_2020[(CPS_2020['ASECFLAG']==1.0)]
CPS_2020_ASECFLAG.head(5)

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,STATEFIP,METRO,...,HISPAN_CAT,RACE2_CAT,ASIAN_CAT,IND_CAT,SELFEMPLOYED_CAT,State_Cat,SF_OAK_FRE,COVIDPAID_CAT,COVIDUNAW_CAT,COVIDLOOK_CAT
2288970,2020,1,3,NaN,20190302844900,1.0,NaN,1552.90,23,1,...,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,0,0,0
2288971,2020,1,3,NaN,20190302844900,1.0,NaN,1552.90,23,1,...,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0,0
2288972,2020,2,3,NaN,20181202843500,1.0,NaN,990.49,23,1,...,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,0,0,0
2288973,2020,2,3,NaN,20181202843500,1.0,NaN,990.49,23,1,...,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0,0
2288974,2020,3,3,NaN,20190202831700,1.0,NaN,1505.27,23,1,...,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,0,0,0

In [26]:
#Employment counts 2020

pd.crosstab(index=CPS_2020_ASECFLAG['SELFEMPLOYED_CAT'], columns='count', margins=True, margins_name="Total")

col_0               count   Total
SELFEMPLOYED_CAT
NA                  80288   80288
Not_Self_Employed   69842   69842
Self_Employed        7829    7829
Total              157959  157959

In [27]:
CPS_2020_ASECFLAG.groupby(['IND_CAT', 'SELFEMPLOYED_CAT']).agg({'SELFEMPLOYED_CAT' : 'count'})

                                             SELFEMPLOYED_CAT
IND_CAT                   SELFEMPLOYED_CAT
Bookstore                 Not_Self_Employed                33
                          Self_Employed                     3
Clothing                  Not_Self_Employed               399
                          Self_Employed                    40
Deparment_store           Not_Self_Employed               273
Drinking_place            Not_Self_Employed                96
                          Self_Employed                    12
Florists                  Not_Self_Employed                30
                          Self_Employed                    20
Furniture                 Not_Self_Employed               220
                          Self_Employed                    26
Jewelry_Luggage           Not_Self_Employed                61
                          Self_Employed                    16
Laundry_service           Not_Self_Employed               111
                          Self_Employed                    22
Misc_Retail               Not_Self_Employed               283
                          Self_Employed                    56
Nailsalon_personalcare    Not_Self_Employed               190
                          Self_Employed                    97
Office_supplies           Not_Self_Employed                54
                          Self_Employed                     2
Other_General_Merchandise Not_Self_Employed               961
                          Self_Employed                     3
Other_notinstudy          NA                            80288
                          Not_Self_Employed             62370
                          Self_Employed                  7236
Restaurants               Not_Self_Employed              4395
                          Self_Employed                   232
Shoes                     Not_Self_Employed                59
                          Self_Employed                     1
Sporting_Hobby            Not_Self_Employed               201
                          Self_Employed                    32
Used_Merchandise          Not_Self_Employed               106
                          Self_Employed                    31

In [28]:
Ind_Emp_group = CPS_2020_ASECFLAG.groupby(["IND_CAT","SELFEMPLOYED_CAT"]).agg({"SELFEMPLOYED_CAT" : "count"})

In [29]:
# proportion within industry

Ind_Emp_group.groupby(level=[0]).apply(lambda x: 100*x/x.sum())

                                             SELFEMPLOYED_CAT
IND_CAT                   SELFEMPLOYED_CAT
Bookstore                 Not_Self_Employed         91.666667
                          Self_Employed              8.333333
Clothing                  Not_Self_Employed         90.888383
                          Self_Employed              9.111617
Deparment_store           Not_Self_Employed        100.000000
Drinking_place            Not_Self_Employed         88.888889
                          Self_Employed             11.111111
Florists                  Not_Self_Employed         60.000000
                          Self_Employed             40.000000
Furniture                 Not_Self_Employed         89.430894
                          Self_Employed             10.569106
Jewelry_Luggage           Not_Self_Employed         79.220779
                          Self_Employed             20.779221
Laundry_service           Not_Self_Employed         83.458647
                          Self_Employed             16.541353
Misc_Retail               Not_Self_Employed         83.480826
                          Self_Employed             16.519174
Nailsalon_personalcare    Not_Self_Employed         66.202091
                          Self_Employed             33.797909
Office_supplies           Not_Self_Employed         96.428571
                          Self_Employed              3.571429
Other_General_Merchandise Not_Self_Employed         99.688797
                          Self_Employed              0.311203
Other_notinstudy          NA                        53.563185
                          Not_Self_Employed         41.609404
                          Self_Employed              4.827411
Restaurants               Not_Self_Employed         94.985952
                          Self_Employed              5.014048
Shoes                     Not_Self_Employed         98.333333
                          Self_Employed              1.666667
Sporting_Hobby            Not_Self_Employed         86.266094
                          Self_Employed             13.733906
Used_Merchandise          Not_Self_Employed         77.372263
                          Self_Employed             22.627737

In [30]:
# percent all industries (ex: .03% of self employed ppl work in the Bookstore industry)

Ind_Emp_group.groupby(level=[1]).apply(lambda x: 100*x/x.sum())

                                             SELFEMPLOYED_CAT
IND_CAT                   SELFEMPLOYED_CAT
Bookstore                 Not_Self_Employed          0.047250
                          Self_Employed              0.038319
Clothing                  Not_Self_Employed          0.571289
                          Self_Employed              0.510921
Deparment_store           Not_Self_Employed          0.390882
Drinking_place            Not_Self_Employed          0.137453
                          Self_Employed              0.153276
Florists                  Not_Self_Employed          0.042954
                          Self_Employed              0.255460
Furniture                 Not_Self_Employed          0.314997
                          Self_Employed              0.332099
Jewelry_Luggage           Not_Self_Employed          0.087340
                          Self_Employed              0.204368
Laundry_service           Not_Self_Employed          0.158930
                          Self_Employed              0.281007
Misc_Retail               Not_Self_Employed          0.405200
                          Self_Employed              0.715289
Nailsalon_personalcare    Not_Self_Employed          0.272043
                          Self_Employed              1.238983
Office_supplies           Not_Self_Employed          0.077317
                          Self_Employed              0.025546
Other_General_Merchandise Not_Self_Employed          1.375963
                          Self_Employed              0.038319
Other_notinstudy          NA                       100.000000
                          Not_Self_Employed         89.301566
                          Self_Employed             92.425597
Restaurants               Not_Self_Employed          6.292775
                          Self_Employed              2.963341
Shoes                     Not_Self_Employed          0.084476
                          Self_Employed              0.012773
Sporting_Hobby            Not_Self_Employed          0.287792
                          Self_Employed              0.408737
Used_Merchandise          Not_Self_Employed          0.151771
                          Self_Employed              0.395964

## 2020 - Race Categories - US Level

In [31]:
# Race counts 2020

pd.crosstab(index=CPS_2020_ASECFLAG['RACE2_CAT'], columns='count', margins=True, margins_name="Total")

col_0                       count   Total
RACE2_CAT
American Indian/Native       1877    1877
Asian                        9987    9987
Black                       17098   17098
Hawaiian/Pacific Islander     626     626
Hispanic/ Latinx            29948   29948
Two or more races            3486    3486
White                       94937   94937
Total                      157959  157959

In [32]:
# 2020 Number self employed vs race cat

pd.crosstab(index=CPS_2020_ASECFLAG['SELFEMPLOYED_CAT'], columns=CPS_2020_ASECFLAG['RACE2_CAT'], margins=True, margins_name="Total")

RACE2_CAT,American Indian/Native,Asian,Black,Hawaiian/Pacific Islander,Hispanic/ Latinx,Two or more races,White,Total
SELFEMPLOYED_CAT,,,,,,,,
NA,1131,4753,9217,282,15503,2173,47229,80288
Not_Self_Employed,682,4741,7425,320,13258,1198,42218,69842
Self_Employed,64,493,456,24,1187,115,5490,7829
Total,1877,9987,17098,626,29948,3486,94937,157959

In [33]:
# create df ind+emp+Race

Ind_Emp_Race_group = CPS_2020_ASECFLAG.groupby(["IND_CAT", 'SELFEMPLOYED_CAT', "RACE2_CAT"]).agg({"SELFEMPLOYED_CAT" : "count"})

In [34]:
# employment count by race info

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
display(Ind_Emp_Race_group)

                                                                       SELFEMPLOYED_CAT
IND_CAT                   SELFEMPLOYED_CAT  RACE2_CAT
Bookstore                 Not_Self_Employed Asian                                     1
                                            Black                                     1
                                            Hispanic/ Latinx                          7
                                            White                                    24
                          Self_Employed     Asian                                     1
                                            White                                     2
Clothing                  Not_Self_Employed American Indian/Native                    2
                                            Asian                                    42
                                            Black                                    46
                                            Hawaiian/Pacific Islander                 1
                                            Hispanic/ Latinx                        108
                                            Two or more races                        10
                                            White                                   190
                          Self_Employed     American Indian/Native                    1
                                            Asian                                     6
                                            Black                                     6
                                            Hawaiian/Pacific Islander                 1
                                            Hispanic/ Latinx                          8
                                            White                                    18
Deparment_store           Not_Self_Employed American Indian/Native                    3
                                            Asian                                    17
                                            Black                                    32
                                            Hispanic/ Latinx                         69
                                            Two or more races                         6
                                            White                                   146
Drinking_place            Not_Self_Employed American Indian/Native                    1
                                            Asian                                     2
                                            Black                                     6
                                            Hawaiian/Pacific Islander                 1
                                            Hispanic/ Latinx                         21
                                            Two or more races                         4
                                            White                                    61
                          Self_Employed     Hispanic/ Latinx                          1
                                            Two or more races                         1
                                            White                                    10
Florists                  Not_Self_Employed Asian                                     1
                                            Black                                     1
                                            Hispanic/ Latinx                          8
                                            White                                    20
                          Self_Employed     Asian                                     1
                                            Hawaiian/Pacific Islander                 1
                                            Hispanic/ Latinx                          4
                                            White                                    14
Furniture                 Not_Self_Employed American Indian/Native                    3
                                            Asian                                     9
                                            Black                                    16
                                            Hawaiian/Pacific Islander                 1
                                            Hispanic/ Latinx                         54
                                            Two or more races                         5
                                            White                                   132
                          Self_Employed     Asian                                     1
                                            Black                                     1
                                            Hispanic/ Latinx                          2
                                            White                                    22
Jewelry_Luggage           Not_Self_Employed American Indian/Native                    1
                                            Asian                                     4
                                            Black                                     6
                                            Hawaiian/Pacific Islander                 1
                                            Hispanic/ Latinx                         12
                                            Two or more races                         1
                                            White                                    36
                          Self_Employed     Black                                     1
                                            Hispanic/ Latinx                          2
                                            White                                    13
Laundry_service           Not_Self_Employed Asian                                    13
                                            Black                                    14
                                            Hispanic/ Latinx                         34
                                            Two or more races                         2
                                            White                                    48
                          Self_Employed     Asian                                    17
                                            Black                                     1
                                            White                                     4
Misc_Retail               Not_Self_Employed American Indian/Native                    4
                                            Asian                                    12
                                            Black                                    14
                                            Hispanic/ Latinx                         63
                                            Two or more races                        10
                                            White                                   180
                          Self_Employed     Asian                                     2
                                            Black                                     2
                                            Hispanic/ Latinx                          7
                                            Two or more races                         2
                                            White                                    43
Nailsalon_personalcare    Not_Self_Employed Asian                                    99
                                            Black                                    11
                                            Hawaiian/Pacific Islander                 1
                                            Hispanic/ Latinx                         23
                                            Two or more races                         5
                                            White                                    51
                          Self_Employed     American Indian/Native                    2
                                            Asian                                    31
                                            Black                                     1
                                            Hispanic/ Latinx                          9
                                            Two or more races                         1
                                            White                                    53
Office_supplies           Not_Self_Employed Asian                                     4
                                            Black                                     2
                                            Hawaiian/Pacific Islander                 1
                                            Hispanic/ Latinx                          5
                                            White                                    42
                          Self_Employed     White                                     2
Other_General_Merchandise Not_Self_Employed American Indian/Native                   18
                                            Asian                                    50
                                            Black                                   163
                                            Hawaiian/Pacific Islander                 6
                                            Hispanic/ Latinx                        202
                                            Two or more races                        32
                                            White                                   490
                          Self_Employed     Asian                                     1
                                            White                                     2
Other_notinstudy          NA                American Indian/Native                 1131
                                            Asian                                  4753
                                            Black                                  9217
                                            Hawaiian/Pacific Islander               282
                                            Hispanic/ Latinx                      15503
                                            Two or more races                      2173
                                            White                                 47229
                          Not_Self_Employed American Indian/Native                  610
                                            Asian                                  4141
                                            Black                                  6560
                                            Hawaiian/Pacific Islander               284
                                            Hispanic/ Latinx                      11328
                                            Two or more races                       995
                                            White                                 38452
                          Self_Employed     American Indian/Native                   59
                                            Asian                                   393
                                            Black                                   428
                                            Hawaiian/Pacific Islander                21
                                            Hispanic/ Latinx                       1103
                                            Two or more races                       107
                                            White                                  5125
Restaurants               Not_Self_Employed American Indian/Native                   40
                                            Asian                                   331
                                            Black                                   519
                                            Hawaiian/Pacific Islander                22
                                            Hispanic/ Latinx                       1264
                                            Two or more races                       115
                                            White                                  2104
                          Self_Employed     Asian                                    37
                                            Black                                    14
                                            Hawaiian/Pacific Islander                 1
                                            Hispanic/ Latinx                         44
                                            Two or more races                         3
                                            White                                   133
Shoes                     Not_Self_Employed Asian                                     3
                                            Black                                    12
                                            Hispanic/ Latinx                         21
                                            Two or more races                         2
                                            White                                    21
                          Self_Employed     Hispanic/ Latinx                          1
Sporting_Hobby            Not_Self_Employed Asian                                    12
                                            Black                                     5
                                            Hawaiian/Pacific Islander                 1
                                            Hispanic/ Latinx                         25
                                            Two or more races                         6
                                            White                                   152
                          Self_Employed     American Indian/Native                    1
                                            Asian                                     3
                                            Black                                     1
                                            Hispanic/ Latinx                          1
                                            White                                    26
Used_Merchandise          Not_Self_Employed Black                                    17
                                            Hawaiian/Pacific Islander                 1
                                            Hispanic/ Latinx                         14
                                            Two or more races                         5
                                            White                                    69
                          Self_Employed     American Indian/Native                    1
                                            Black                                     1
                                            Hispanic/ Latinx                          5
                                            Two or more races                         1
                                            White                                    23

In [35]:
# Percentage all industries (ex: .0128% of self employed ppl in Bookstore industry identify as Asian)

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:.5f}'.format
display(Ind_Emp_Race_group.groupby(level=[1]).apply(lambda x: 100*x/x.sum()))

                                                                       SELFEMPLOYED_CAT
IND_CAT                   SELFEMPLOYED_CAT  RACE2_CAT
Bookstore                 Not_Self_Employed Asian                               0.00143
                                            Black                               0.00143
                                            Hispanic/ Latinx                    0.01002
                                            White                               0.03436
                          Self_Employed     Asian                               0.01277
                                            White                               0.02555
Clothing                  Not_Self_Employed American Indian/Native              0.00286
                                            Asian                               0.06014
                                            Black                               0.06586
                                            Hawaiian/Pacific Islander           0.00143
                                            Hispanic/ Latinx                    0.15463
                                            Two or more races                   0.01432
                                            White                               0.27204
                          Self_Employed     American Indian/Native              0.01277
                                            Asian                               0.07664
                                            Black                               0.07664
                                            Hawaiian/Pacific Islander           0.01277
                                            Hispanic/ Latinx                    0.10218
                                            White                               0.22991
Deparment_store           Not_Self_Employed American Indian/Native              0.00430
                                            Asian                               0.02434
                                            Black                               0.04582
                                            Hispanic/ Latinx                    0.09879
                                            Two or more races                   0.00859
                                            White                               0.20904
Drinking_place            Not_Self_Employed American Indian/Native              0.00143
                                            Asian                               0.00286
                                            Black                               0.00859
                                            Hawaiian/Pacific Islander           0.00143
                                            Hispanic/ Latinx                    0.03007
                                            Two or more races                   0.00573
                                            White                               0.08734
                          Self_Employed     Hispanic/ Latinx                    0.01277
                                            Two or more races                   0.01277
                                            White                               0.12773
Florists                  Not_Self_Employed Asian                               0.00143
                                            Black                               0.00143
                                            Hispanic/ Latinx                    0.01145
                                            White                               0.02864
                          Self_Employed     Asian                               0.01277
                                            Hawaiian/Pacific Islander           0.01277
                                            Hispanic/ Latinx                    0.05109
                                            White                               0.17882
Furniture                 Not_Self_Employed American Indian/Native              0.00430
                                            Asian                               0.01289
                                            Black                               0.02291
                                            Hawaiian/Pacific Islander           0.00143
                                            Hispanic/ Latinx                    0.07732
                                            Two or more races                   0.00716
                                            White                               0.18900
                          Self_Employed     Asian                               0.01277
                                            Black                               0.01277
                                            Hispanic/ Latinx                    0.02555
                                            White                               0.28101
Jewelry_Luggage           Not_Self_Employed American Indian/Native              0.00143
                                            Asian                               0.00573
                                            Black                               0.00859
                                            Hawaiian/Pacific Islander           0.00143
                                            Hispanic/ Latinx                    0.01718
                                            Two or more races                   0.00143
                                            White                               0.05154
                          Self_Employed     Black                               0.01277
                                            Hispanic/ Latinx                    0.02555
                                            White                               0.16605
Laundry_service           Not_Self_Employed Asian                               0.01861
                                            Black                               0.02005
                                            Hispanic/ Latinx                    0.04868
                                            Two or more races                   0.00286
                                            White                               0.06873
                          Self_Employed     Asian                               0.21714
                                            Black                               0.01277
                                            White                               0.05109
Misc_Retail               Not_Self_Employed American Indian/Native              0.00573
                                            Asian                               0.01718
                                            Black                               0.02005
                                            Hispanic/ Latinx                    0.09020
                                            Two or more races                   0.01432
                                            White                               0.25772
                          Self_Employed     Asian                               0.02555
                                            Black                               0.02555
                                            Hispanic/ Latinx                    0.08941
                                            Two or more races                   0.02555
                                            White                               0.54924
Nailsalon_personalcare    Not_Self_Employed Asian                               0.14175
                                            Black                               0.01575
                                            Hawaiian/Pacific Islander           0.00143
                                            Hispanic/ Latinx                    0.03293
                                            Two or more races                   0.00716
                                            White                               0.07302
                          Self_Employed     American Indian/Native              0.02555
                                            Asian                               0.39596
                                            Black                               0.01277
                                            Hispanic/ Latinx                    0.11496
                                            Two or more races                   0.01277
                                            White                               0.67697
Office_supplies           Not_Self_Employed Asian                               0.00573
                                            Black                               0.00286
                                            Hawaiian/Pacific Islander           0.00143
                                            Hispanic/ Latinx                    0.00716
                                            White                               0.06014
                          Self_Employed     White                               0.02555
Other_General_Merchandise Not_Self_Employed American Indian/Native              0.02577
                                            Asian                               0.07159
                                            Black                               0.23338
                                            Hawaiian/Pacific Islander           0.00859
                                            Hispanic/ Latinx                    0.28922
                                            Two or more races                   0.04582
                                            White                               0.70158
                          Self_Employed     Asian                               0.01277
                                            White                               0.02555
Other_notinstudy          NA                American Indian/Native              1.40868
                                            Asian                               5.91994
                                            Black                              11.47992
                                            Hawaiian/Pacific Islander           0.35124
                                            Hispanic/ Latinx                   19.30924
                                            Two or more races                   2.70651
                                            White                              58.82448
                          Not_Self_Employed American Indian/Native              0.87340
                                            Asian                               5.92910
                                            Black                               9.39263
                                            Hawaiian/Pacific Islander           0.40663
                                            Hispanic/ Latinx                   16.21947
                                            Two or more races                   1.42464
                                            White                              55.05570
                          Self_Employed     American Indian/Native              0.75361
                                            Asian                               5.01980
                                            Black                               5.46685
                                            Hawaiian/Pacific Islander           0.26823
                                            Hispanic/ Latinx                   14.08864
                                            Two or more races                   1.36671
                                            White                              65.46174
Restaurants               Not_Self_Employed American Indian/Native              0.05727
                                            Asian                               0.47393
                                            Black                               0.74311
                                            Hawaiian/Pacific Islander           0.03150
                                            Hispanic/ Latinx                    1.80980
                                            Two or more races                   0.16466
                                            White                               3.01251
                          Self_Employed     Asian                               0.47260
                                            Black                               0.17882
                                            Hawaiian/Pacific Islander           0.01277
                                            Hispanic/ Latinx                    0.56201
                                            Two or more races                   0.03832
                                            White                               1.69881
Shoes                     Not_Self_Employed Asian                               0.00430
                                            Black                               0.01718
                                            Hispanic/ Latinx                    0.03007
                                            Two or more races                   0.00286
                                            White                               0.03007
                          Self_Employed     Hispanic/ Latinx                    0.01277
Sporting_Hobby            Not_Self_Employed Asian                               0.01718
                                            Black                               0.00716
                                            Hawaiian/Pacific Islander           0.00143
                                            Hispanic/ Latinx                    0.03580
                                            Two or more races                   0.00859
                                            White                               0.21763
                          Self_Employed     American Indian/Native              0.01277
                                            Asian                               0.03832
                                            Black                               0.01277
                                            Hispanic/ Latinx                    0.01277
                                            White                               0.33210
Used_Merchandise          Not_Self_Employed Black                               0.02434
                                            Hawaiian/Pacific Islander           0.00143
                                            Hispanic/ Latinx                    0.02005
                                            Two or more races                   0.00716
                                            White                               0.09879
                          Self_Employed     American Indian/Native              0.01277
                                            Black                               0.01277
                                            Hispanic/ Latinx                    0.06387
                                            Two or more races                   0.01277
                                            White                               0.29378

## 2020 - Race Categories - CA Level

In [36]:
#Extract CA from year 2020 

CPS_2020_CA = CPS_2020_ASECFLAG[(CPS_2020_ASECFLAG['STATEFIP']==6)]
CPS_2020_CA.head(5)

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,STATEFIP,METRO,METAREA,INDIVIDCC,PERNUM,WTFINL,CPSIDP,ASECWT,RACE,ASIAN,HISPAN,EMPSTAT,IND,CLASSWKR,PAIDEMP1,PAIDEMP1N,COVIDTELEW,COVIDUNAW,COVIDPAID,COVIDLOOK,RACE_CAT,HISPAN_CAT,RACE2_CAT,ASIAN_CAT,IND_CAT,SELFEMPLOYED_CAT,State_Cat,SF_OAK_FRE,COVIDPAID_CAT,COVIDUNAW_CAT,COVIDLOOK_CAT
2426726,2020,81564,3,nan,20190300960800,1.00000,nan,2260.34000,6,1,9998,0,1,nan,20190300960801,2260.34000,300,99.00000,0,36,0,0,nan,nan,nan,nan,nan,nan,American Indian/Native,Not Hispanic/ Latinx,American Indian/Native,NIU,Other_notinstudy,NA,CA,Not_Bay_Area,0,0,0
2426727,2020,81564,3,nan,20190300960800,1.00000,nan,2260.34000,6,1,9998,0,2,nan,20190300960802,2260.34000,300,99.00000,0,10,9480,25,nan,nan,nan,nan,nan,nan,American Indian/Native,Not Hispanic/ Latinx,American Indian/Native,NIU,Other_notinstudy,Not_Self_Employed,CA,Not_Bay_Area,0,0,0
2426728,2020,81564,3,nan,20190300960800,1.00000,nan,2260.34000,6,1,9998,0,3,nan,20190300960803,2585.21000,300,99.00000,0,0,0,0,nan,nan,nan,nan,nan,nan,American Indian/Native,Not Hispanic/ Latinx,American Indian/Native,NIU,Other_notinstudy,NA,CA,Not_Bay_Area,0,0,0
2426729,2020,81566,3,nan,20190200953100,1.00000,nan,3138.52000,6,1,9998,0,1,nan,20190200953101,3138.52000,100,99.00000,0,36,0,0,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,NA,CA,Not_Bay_Area,0,0,0
2426730,2020,81566,3,nan,20190200953100,1.00000,nan,3138.52000,6,1,9998,0,2,nan,20190200953102,3356.87000,100,99.00000,0,10,8370,21,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Not_Self_Employed,CA,Not_Bay_Area,0,0,0

In [37]:
# Race counts CA in 2020

pd.crosstab(index=CPS_2020_CA['RACE2_CAT'], columns='count', margins=True, margins_name="Total")

col_0                      count  Total
RACE2_CAT
American Indian/Native        66     66
Asian                       2448   2448
Black                        756    756
Hawaiian/Pacific Islander     86     86
Hispanic/ Latinx            6828   6828
Two or more races            338    338
White                       5171   5171
Total                      15693  15693

In [38]:
# CA in 2020 - Number self employed vs race cat

pd.crosstab(index=CPS_2020_CA['SELFEMPLOYED_CAT'], columns=CPS_2020_ASECFLAG['RACE2_CAT'], margins=True, margins_name="Total")

RACE2_CAT,American Indian/Native,Asian,Black,Hawaiian/Pacific Islander,Hispanic/ Latinx,Two or more races,White,Total
SELFEMPLOYED_CAT,,,,,,,,
NA,47,1213,409,34,3501,212,2513,7929
Not_Self_Employed,16,1110,319,48,3070,111,2277,6951
Self_Employed,3,125,28,4,257,15,381,813
Total,66,2448,756,86,6828,338,5171,15693

In [39]:
# create df ind+emp+race_CA

Ind_Emp_Race_groupCA = CPS_2020_CA.groupby(["IND_CAT", 'SELFEMPLOYED_CAT', "RACE2_CAT"]).agg({"SELFEMPLOYED_CAT" : "count"})

In [40]:
# employment count by race info

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
display(Ind_Emp_Race_groupCA)

                                                                       SELFEMPLOYED_CAT
IND_CAT                   SELFEMPLOYED_CAT  RACE2_CAT
Bookstore                 Not_Self_Employed Asian                                     1
                                            Hispanic/ Latinx                          3
                                            White                                     1
                          Self_Employed     White                                     1
Clothing                  Not_Self_Employed Asian                                    11
                                            Hispanic/ Latinx                         21
                                            Two or more races                         1
                                            White                                    20
                          Self_Employed     Asian                                     1
                                            Hispanic/ Latinx                          1
Deparment_store           Not_Self_Employed Asian                                     3
                                            Hispanic/ Latinx                         11
                                            White                                     5
Drinking_place            Not_Self_Employed Black                                     2
                                            Hispanic/ Latinx                          3
                                            White                                     1
                          Self_Employed     Hispanic/ Latinx                          1
Florists                  Not_Self_Employed Hispanic/ Latinx                          3
                                            White                                     2
                          Self_Employed     White                                     2
Furniture                 Not_Self_Employed Asian                                     1
                                            Hispanic/ Latinx                         11
                                            Two or more races                         2
                                            White                                     7
                          Self_Employed     Hispanic/ Latinx                          1
                                            White                                     2
Jewelry_Luggage           Not_Self_Employed Asian                                     1
                                            Black                                     1
                                            Hispanic/ Latinx                          3
                                            White                                     1
                          Self_Employed     White                                     1
Laundry_service           Not_Self_Employed Asian                                     5
                                            Hispanic/ Latinx                          6
                                            White                                     4
                          Self_Employed     Asian                                     5
                                            Black                                     1
Misc_Retail               Not_Self_Employed Asian                                     2
                                            Black                                     1
                                            Hispanic/ Latinx                         18
                                            Two or more races                         1
                                            White                                    14
                          Self_Employed     Hispanic/ Latinx                          4
                                            White                                     8
Nailsalon_personalcare    Not_Self_Employed Asian                                    18
                                            Black                                     1
                                            Hispanic/ Latinx                          6
                                            White                                     1
                          Self_Employed     Asian                                     6
                                            Hispanic/ Latinx                          3
                                            White                                     2
Office_supplies           Not_Self_Employed Asian                                     2
                                            Hawaiian/Pacific Islander                 1
                                            White                                     4
Other_General_Merchandise Not_Self_Employed Asian                                     8
                                            Black                                     4
                                            Hispanic/ Latinx                         48
                                            Two or more races                         2
                                            White                                    19
Other_notinstudy          NA                American Indian/Native                   47
                                            Asian                                  1213
                                            Black                                   409
                                            Hawaiian/Pacific Islander                34
                                            Hispanic/ Latinx                       3501
                                            Two or more races                       212
                                            White                                  2513
                          Not_Self_Employed American Indian/Native                   16
                                            Asian                                   997
                                            Black                                   294
                                            Hawaiian/Pacific Islander                43
                                            Hispanic/ Latinx                       2640
                                            Two or more races                        97
                                            White                                  2088
                          Self_Employed     American Indian/Native                    3
                                            Asian                                   105
                                            Black                                    26
                                            Hawaiian/Pacific Islander                 4
                                            Hispanic/ Latinx                        235
                                            Two or more races                        15
                                            White                                   358
Restaurants               Not_Self_Employed Asian                                    59
                                            Black                                    16
                                            Hawaiian/Pacific Islander                 3
                                            Hispanic/ Latinx                        288
                                            Two or more races                         8
                                            White                                   102
                          Self_Employed     Asian                                     8
                                            Black                                     1
                                            Hispanic/ Latinx                          8
                                            White                                     5
Shoes                     Not_Self_Employed Asian                                     1
                                            Hispanic/ Latinx                          6
                                            White                                     2
                          Self_Employed     Hispanic/ Latinx                          1
Sporting_Hobby            Not_Self_Employed Asian                                     1
                                            Hispanic/ Latinx                          2
                                            White                                     2
                          Self_Employed     Hispanic/ Latinx                          1
Used_Merchandise          Not_Self_Employed Hawaiian/Pacific Islander                 1
                                            Hispanic/ Latinx                          1
                                            White                                     4
                          Self_Employed     Hispanic/ Latinx                          2
                                            White                                     2

In [41]:
# Percentage all industries (ex: In CA, .14% of self employed ppl in Bookstore industry identify as White)

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:.5f}'.format
display(Ind_Emp_Race_groupCA.groupby(level=[1]).apply(lambda x: 100*x/x.sum()))

                                                                       SELFEMPLOYED_CAT
IND_CAT                   SELFEMPLOYED_CAT  RACE2_CAT
Bookstore                 Not_Self_Employed Asian                               0.01439
                                            Hispanic/ Latinx                    0.04316
                                            White                               0.01439
                          Self_Employed     White                               0.12300
Clothing                  Not_Self_Employed Asian                               0.15825
                                            Hispanic/ Latinx                    0.30211
                                            Two or more races                   0.01439
                                            White                               0.28773
                          Self_Employed     Asian                               0.12300
                                            Hispanic/ Latinx                    0.12300
Deparment_store           Not_Self_Employed Asian                               0.04316
                                            Hispanic/ Latinx                    0.15825
                                            White                               0.07193
Drinking_place            Not_Self_Employed Black                               0.02877
                                            Hispanic/ Latinx                    0.04316
                                            White                               0.01439
                          Self_Employed     Hispanic/ Latinx                    0.12300
Florists                  Not_Self_Employed Hispanic/ Latinx                    0.04316
                                            White                               0.02877
                          Self_Employed     White                               0.24600
Furniture                 Not_Self_Employed Asian                               0.01439
                                            Hispanic/ Latinx                    0.15825
                                            Two or more races                   0.02877
                                            White                               0.10070
                          Self_Employed     Hispanic/ Latinx                    0.12300
                                            White                               0.24600
Jewelry_Luggage           Not_Self_Employed Asian                               0.01439
                                            Black                               0.01439
                                            Hispanic/ Latinx                    0.04316
                                            White                               0.01439
                          Self_Employed     White                               0.12300
Laundry_service           Not_Self_Employed Asian                               0.07193
                                            Hispanic/ Latinx                    0.08632
                                            White                               0.05755
                          Self_Employed     Asian                               0.61501
                                            Black                               0.12300
Misc_Retail               Not_Self_Employed Asian                               0.02877
                                            Black                               0.01439
                                            Hispanic/ Latinx                    0.25896
                                            Two or more races                   0.01439
                                            White                               0.20141
                          Self_Employed     Hispanic/ Latinx                    0.49200
                                            White                               0.98401
Nailsalon_personalcare    Not_Self_Employed Asian                               0.25896
                                            Black                               0.01439
                                            Hispanic/ Latinx                    0.08632
                                            White                               0.01439
                          Self_Employed     Asian                               0.73801
                                            Hispanic/ Latinx                    0.36900
                                            White                               0.24600
Office_supplies           Not_Self_Employed Asian                               0.02877
                                            Hawaiian/Pacific Islander           0.01439
                                            White                               0.05755
Other_General_Merchandise Not_Self_Employed Asian                               0.11509
                                            Black                               0.05755
                                            Hispanic/ Latinx                    0.69055
                                            Two or more races                   0.02877
                                            White                               0.27334
Other_notinstudy          NA                American Indian/Native              0.59276
                                            Asian                              15.29827
                                            Black                               5.15828
                                            Hawaiian/Pacific Islander           0.42881
                                            Hispanic/ Latinx                   44.15437
                                            Two or more races                   2.67373
                                            White                              31.69378
                          Not_Self_Employed American Indian/Native              0.23018
                                            Asian                              14.34326
                                            Black                               4.22961
                                            Hawaiian/Pacific Islander           0.61862
                                            Hispanic/ Latinx                   37.98015
                                            Two or more races                   1.39548
                                            White                              30.03884
                          Self_Employed     American Indian/Native              0.36900
                                            Asian                              12.91513
                                            Black                               3.19803
                                            Hawaiian/Pacific Islander           0.49200
                                            Hispanic/ Latinx                   28.90529
                                            Two or more races                   1.84502
                                            White                              44.03444
Restaurants               Not_Self_Employed Asian                               0.84880
                                            Black                               0.23018
                                            Hawaiian/Pacific Islander           0.04316
                                            Hispanic/ Latinx                    4.14329
                                            Two or more races                   0.11509
                                            White                               1.46741
                          Self_Employed     Asian                               0.98401
                                            Black                               0.12300
                                            Hispanic/ Latinx                    0.98401
                                            White                               0.61501
Shoes                     Not_Self_Employed Asian                               0.01439
                                            Hispanic/ Latinx                    0.08632
                                            White                               0.02877
                          Self_Employed     Hispanic/ Latinx                    0.12300
Sporting_Hobby            Not_Self_Employed Asian                               0.01439
                                            Hispanic/ Latinx                    0.02877
                                            White                               0.02877
                          Self_Employed     Hispanic/ Latinx                    0.12300
Used_Merchandise          Not_Self_Employed Hawaiian/Pacific Islander           0.01439
                                            Hispanic/ Latinx                    0.01439
                                            White                               0.05755
                          Self_Employed     Hispanic/ Latinx                    0.24600
                                            White                               0.24600

## 2020 - Minority Categories - US Level

### Study Groups

In [42]:
#Create new column for study minority groups (Black, Asian, Hispanic/Latinx)


conditions = [
    (CPS_2020_ASECFLAG['RACE2_CAT'] == "Black"),
    (CPS_2020_ASECFLAG['RACE2_CAT'] == "Asian"),
    (CPS_2020_ASECFLAG['RACE2_CAT'] == "Hispanic/ Latinx"),
    (CPS_2020_ASECFLAG['RACE2_CAT'] == "White"),
    (CPS_2020_ASECFLAG['RACE2_CAT'] == "American Indian/Native"),
    (CPS_2020_ASECFLAG['RACE2_CAT'] == 'Hawaiian/Pacific Islander'),
        (CPS_2020_ASECFLAG['RACE2_CAT'] == "Two or more races"),
    ]

values = [ 'Study Minority Group', 'Study Minority Group', 'Study Minority Group',
          'Not in Study', 'Not in Study', 'Not in Study', 'Not in Study' ]

CPS_2020_ASECFLAG['STUDYGROUPS_CAT'] = np.select(conditions, values)
CPS_2020_ASECFLAG.head(10)

<ipython-input-42-e03f894944c4>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CPS_2020_ASECFLAG['STUDYGROUPS_CAT'] = np.select(conditions, values)

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,STATEFIP,METRO,METAREA,INDIVIDCC,PERNUM,WTFINL,CPSIDP,ASECWT,RACE,ASIAN,HISPAN,EMPSTAT,IND,CLASSWKR,PAIDEMP1,PAIDEMP1N,COVIDTELEW,COVIDUNAW,COVIDPAID,COVIDLOOK,RACE_CAT,HISPAN_CAT,RACE2_CAT,ASIAN_CAT,IND_CAT,SELFEMPLOYED_CAT,State_Cat,SF_OAK_FRE,COVIDPAID_CAT,COVIDUNAW_CAT,COVIDLOOK_CAT,STUDYGROUPS_CAT
2288970,2020,1,3,nan,20190302844900,1.00000,nan,1552.90000,23,1,9998,0,1,nan,20190302844901,1552.90000,100,99.00000,0,10,9480,27,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,0,0,0,Not in Study
2288971,2020,1,3,nan,20190302844900,1.00000,nan,1552.90000,23,1,9998,0,2,nan,20190302844902,1552.90000,100,99.00000,0,36,0,0,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0,0,Not in Study
2288972,2020,2,3,nan,20181202843500,1.00000,nan,990.49000,23,1,9998,0,1,nan,20181202843501,990.49000,100,99.00000,0,10,7860,28,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,0,0,0,Not in Study
2288973,2020,2,3,nan,20181202843500,1.00000,nan,990.49000,23,1,9998,0,2,nan,20181202843502,990.49000,100,99.00000,0,36,0,0,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0,0,Not in Study
2288974,2020,3,3,nan,20190202831700,1.00000,nan,1505.27000,23,1,9998,0,1,nan,20190202831701,1505.27000,100,99.00000,0,10,6290,21,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,0,0,0,Not in Study
2288975,2020,4,3,nan,20190302822300,1.00000,nan,1430.70000,23,1,9998,0,1,nan,20190302822301,1430.70000,100,99.00000,0,32,0,0,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0,0,Not in Study
2288976,2020,4,3,nan,20190302822300,1.00000,nan,1430.70000,23,1,9998,0,2,nan,20190302822302,1196.57000,100,99.00000,0,10,9290,21,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,0,0,0,Not in Study
2288977,2020,5,3,nan,20181202835000,1.00000,nan,1133.37000,23,1,9998,0,1,nan,20181202835001,1133.37000,100,99.00000,0,34,0,0,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0,0,Not in Study
2288978,2020,5,3,nan,20181202835000,1.00000,nan,1133.37000,23,1,9998,0,2,nan,20181202835002,1133.37000,100,99.00000,0,10,9470,28,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,0,0,0,Not in Study
2288979,2020,5,3,nan,20181202835000,1.00000,nan,1133.37000,23,1,9998,0,3,nan,20181202835004,1322.19000,100,99.00000,0,34,0,0,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0,0,Not in Study

In [43]:
# Race counts by Minority grouping
pd.crosstab(index=CPS_2020_ASECFLAG['STUDYGROUPS_CAT'], columns='count', margins=True, margins_name="Total")

col_0                  count   Total
STUDYGROUPS_CAT
Not in Study          100926  100926
Study Minority Group   57033   57033
Total                 157959  157959

In [44]:
# 2020 Number self employed vs race cat

pd.crosstab(index=CPS_2020_ASECFLAG['SELFEMPLOYED_CAT'], columns=CPS_2020_ASECFLAG['STUDYGROUPS_CAT'], margins=True, margins_name="Total")

STUDYGROUPS_CAT    Not in Study  Study Minority Group   Total
SELFEMPLOYED_CAT
NA                        50815                 29473   80288
Not_Self_Employed         44418                 25424   69842
Self_Employed              5693                  2136    7829
Total                    100926                 57033  157959

In [45]:
# create df ind+emp+Race

Ind_Emp_Minority_group = CPS_2020_ASECFLAG.groupby(["IND_CAT", 'SELFEMPLOYED_CAT', "STUDYGROUPS_CAT"]).agg({"SELFEMPLOYED_CAT" : "count"})

In [46]:
# employment count by race info

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
display(Ind_Emp_Minority_group)

                                                                  SELFEMPLOYED_CAT
IND_CAT                   SELFEMPLOYED_CAT  STUDYGROUPS_CAT
Bookstore                 Not_Self_Employed Not in Study                        24
                                            Study Minority Group                 9
                          Self_Employed     Not in Study                         2
                                            Study Minority Group                 1
Clothing                  Not_Self_Employed Not in Study                       203
                                            Study Minority Group               196
                          Self_Employed     Not in Study                        20
                                            Study Minority Group                20
Deparment_store           Not_Self_Employed Not in Study                       155
                                            Study Minority Group               118
Drinking_place            Not_Self_Employed Not in Study                        67
                                            Study Minority Group                29
                          Self_Employed     Not in Study                        11
                                            Study Minority Group                 1
Florists                  Not_Self_Employed Not in Study                        20
                                            Study Minority Group                10
                          Self_Employed     Not in Study                        15
                                            Study Minority Group                 5
Furniture                 Not_Self_Employed Not in Study                       141
                                            Study Minority Group                79
                          Self_Employed     Not in Study                        22
                                            Study Minority Group                 4
Jewelry_Luggage           Not_Self_Employed Not in Study                        39
                                            Study Minority Group                22
                          Self_Employed     Not in Study                        13
                                            Study Minority Group                 3
Laundry_service           Not_Self_Employed Not in Study                        50
                                            Study Minority Group                61
                          Self_Employed     Not in Study                         4
                                            Study Minority Group                18
Misc_Retail               Not_Self_Employed Not in Study                       194
                                            Study Minority Group                89
                          Self_Employed     Not in Study                        45
                                            Study Minority Group                11
Nailsalon_personalcare    Not_Self_Employed Not in Study                        57
                                            Study Minority Group               133
                          Self_Employed     Not in Study                        56
                                            Study Minority Group                41
Office_supplies           Not_Self_Employed Not in Study                        43
                                            Study Minority Group                11
                          Self_Employed     Not in Study                         2
Other_General_Merchandise Not_Self_Employed Not in Study                       546
                                            Study Minority Group               415
                          Self_Employed     Not in Study                         2
                                            Study Minority Group                 1
Other_notinstudy          NA                Not in Study                     50815
                                            Study Minority Group             29473
                          Not_Self_Employed Not in Study                     40341
                                            Study Minority Group             22029
                          Self_Employed     Not in Study                      5312
                                            Study Minority Group              1924
Restaurants               Not_Self_Employed Not in Study                      2281
                                            Study Minority Group              2114
                          Self_Employed     Not in Study                       137
                                            Study Minority Group                95
Shoes                     Not_Self_Employed Not in Study                        23
                                            Study Minority Group                36
                          Self_Employed     Study Minority Group                 1
Sporting_Hobby            Not_Self_Employed Not in Study                       159
                                            Study Minority Group                42
                          Self_Employed     Not in Study                        27
                                            Study Minority Group                 5
Used_Merchandise          Not_Self_Employed Not in Study                        75
                                            Study Minority Group                31
                          Self_Employed     Not in Study                        25
                                            Study Minority Group                 6

In [47]:
# Percentage all industries (ex: .0128% of self employed ppl in Bookstore industry identify as being either Asian, Black, or Hispanic/Latinx)

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:.5f}'.format
display(Ind_Emp_Minority_group.groupby(level=[1]).apply(lambda x: 100*x/x.sum()))

                                                                  SELFEMPLOYED_CAT
IND_CAT                   SELFEMPLOYED_CAT  STUDYGROUPS_CAT
Bookstore                 Not_Self_Employed Not in Study                   0.03436
                                            Study Minority Group           0.01289
                          Self_Employed     Not in Study                   0.02555
                                            Study Minority Group           0.01277
Clothing                  Not_Self_Employed Not in Study                   0.29066
                                            Study Minority Group           0.28063
                          Self_Employed     Not in Study                   0.25546
                                            Study Minority Group           0.25546
Deparment_store           Not_Self_Employed Not in Study                   0.22193
                                            Study Minority Group           0.16895
Drinking_place            Not_Self_Employed Not in Study                   0.09593
                                            Study Minority Group           0.04152
                          Self_Employed     Not in Study                   0.14050
                                            Study Minority Group           0.01277
Florists                  Not_Self_Employed Not in Study                   0.02864
                                            Study Minority Group           0.01432
                          Self_Employed     Not in Study                   0.19160
                                            Study Minority Group           0.06387
Furniture                 Not_Self_Employed Not in Study                   0.20188
                                            Study Minority Group           0.11311
                          Self_Employed     Not in Study                   0.28101
                                            Study Minority Group           0.05109
Jewelry_Luggage           Not_Self_Employed Not in Study                   0.05584
                                            Study Minority Group           0.03150
                          Self_Employed     Not in Study                   0.16605
                                            Study Minority Group           0.03832
Laundry_service           Not_Self_Employed Not in Study                   0.07159
                                            Study Minority Group           0.08734
                          Self_Employed     Not in Study                   0.05109
                                            Study Minority Group           0.22991
Misc_Retail               Not_Self_Employed Not in Study                   0.27777
                                            Study Minority Group           0.12743
                          Self_Employed     Not in Study                   0.57479
                                            Study Minority Group           0.14050
Nailsalon_personalcare    Not_Self_Employed Not in Study                   0.08161
                                            Study Minority Group           0.19043
                          Self_Employed     Not in Study                   0.71529
                                            Study Minority Group           0.52369
Office_supplies           Not_Self_Employed Not in Study                   0.06157
                                            Study Minority Group           0.01575
                          Self_Employed     Not in Study                   0.02555
Other_General_Merchandise Not_Self_Employed Not in Study                   0.78176
                                            Study Minority Group           0.59420
                          Self_Employed     Not in Study                   0.02555
                                            Study Minority Group           0.01277
Other_notinstudy          NA                Not in Study                  63.29090
                                            Study Minority Group          36.70910
                          Not_Self_Employed Not in Study                  57.76037
                                            Study Minority Group          31.54119
                          Self_Employed     Not in Study                  67.85030
                                            Study Minority Group          24.57530
Restaurants               Not_Self_Employed Not in Study                   3.26594
                                            Study Minority Group           3.02683
                          Self_Employed     Not in Study                   1.74990
                                            Study Minority Group           1.21344
Shoes                     Not_Self_Employed Not in Study                   0.03293
                                            Study Minority Group           0.05154
                          Self_Employed     Study Minority Group           0.01277
Sporting_Hobby            Not_Self_Employed Not in Study                   0.22766
                                            Study Minority Group           0.06014
                          Self_Employed     Not in Study                   0.34487
                                            Study Minority Group           0.06387
Used_Merchandise          Not_Self_Employed Not in Study                   0.10739
                                            Study Minority Group           0.04439
                          Self_Employed     Not in Study                   0.31933
                                            Study Minority Group           0.07664

### All Minority Groups

In [48]:
#Create new column for all minority groups 
#Black, Asian, Hispanic/Latinx, American Indian/Native, Hawaiian/Pacific Islander, Two or more Races"


conditions = [
    (CPS_2020_ASECFLAG['RACE2_CAT'] == "Black"),
    (CPS_2020_ASECFLAG['RACE2_CAT'] == "Asian"),
    (CPS_2020_ASECFLAG['RACE2_CAT'] == "Hispanic/ Latinx"),
    (CPS_2020_ASECFLAG['RACE2_CAT'] == "American Indian/Native"),
    (CPS_2020_ASECFLAG['RACE2_CAT'] == 'Hawaiian/Pacific Islander'),
    (CPS_2020_ASECFLAG['RACE2_CAT'] == "Two or more races"),
    (CPS_2020_ASECFLAG['RACE2_CAT'] == "White"),
    ]

values = [ 'Minority Group', 'Minority Group', 'Minority Group',
          'Minority Group', 'Minority Group', 'Minority Group', 'White' ]

CPS_2020_ASECFLAG['MINORITYGROUPS_CAT'] = np.select(conditions, values)
CPS_2020_ASECFLAG.head(10)

<ipython-input-48-40d346ddfcf5>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CPS_2020_ASECFLAG['MINORITYGROUPS_CAT'] = np.select(conditions, values)

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,STATEFIP,METRO,METAREA,INDIVIDCC,PERNUM,WTFINL,CPSIDP,ASECWT,RACE,ASIAN,HISPAN,EMPSTAT,IND,CLASSWKR,PAIDEMP1,PAIDEMP1N,COVIDTELEW,COVIDUNAW,COVIDPAID,COVIDLOOK,RACE_CAT,HISPAN_CAT,RACE2_CAT,ASIAN_CAT,IND_CAT,SELFEMPLOYED_CAT,State_Cat,SF_OAK_FRE,COVIDPAID_CAT,COVIDUNAW_CAT,COVIDLOOK_CAT,STUDYGROUPS_CAT,MINORITYGROUPS_CAT
2288970,2020,1,3,nan,20190302844900,1.00000,nan,1552.90000,23,1,9998,0,1,nan,20190302844901,1552.90000,100,99.00000,0,10,9480,27,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,0,0,0,Not in Study,White
2288971,2020,1,3,nan,20190302844900,1.00000,nan,1552.90000,23,1,9998,0,2,nan,20190302844902,1552.90000,100,99.00000,0,36,0,0,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0,0,Not in Study,White
2288972,2020,2,3,nan,20181202843500,1.00000,nan,990.49000,23,1,9998,0,1,nan,20181202843501,990.49000,100,99.00000,0,10,7860,28,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,0,0,0,Not in Study,White
2288973,2020,2,3,nan,20181202843500,1.00000,nan,990.49000,23,1,9998,0,2,nan,20181202843502,990.49000,100,99.00000,0,36,0,0,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0,0,Not in Study,White
2288974,2020,3,3,nan,20190202831700,1.00000,nan,1505.27000,23,1,9998,0,1,nan,20190202831701,1505.27000,100,99.00000,0,10,6290,21,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,0,0,0,Not in Study,White
2288975,2020,4,3,nan,20190302822300,1.00000,nan,1430.70000,23,1,9998,0,1,nan,20190302822301,1430.70000,100,99.00000,0,32,0,0,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0,0,Not in Study,White
2288976,2020,4,3,nan,20190302822300,1.00000,nan,1430.70000,23,1,9998,0,2,nan,20190302822302,1196.57000,100,99.00000,0,10,9290,21,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,0,0,0,Not in Study,White
2288977,2020,5,3,nan,20181202835000,1.00000,nan,1133.37000,23,1,9998,0,1,nan,20181202835001,1133.37000,100,99.00000,0,34,0,0,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0,0,Not in Study,White
2288978,2020,5,3,nan,20181202835000,1.00000,nan,1133.37000,23,1,9998,0,2,nan,20181202835002,1133.37000,100,99.00000,0,10,9470,28,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Not_Self_Employed,Not_CA,Not_Bay_Area,0,0,0,Not in Study,White
2288979,2020,5,3,nan,20181202835000,1.00000,nan,1133.37000,23,1,9998,0,3,nan,20181202835004,1322.19000,100,99.00000,0,34,0,0,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,NA,Not_CA,Not_Bay_Area,0,0,0,Not in Study,White

In [49]:
# Race counts by Minority grouping

pd.crosstab(index=CPS_2020_ASECFLAG['MINORITYGROUPS_CAT'], columns='count', margins=True, margins_name="Total")

col_0                count   Total
MINORITYGROUPS_CAT
Minority Group       63022   63022
White                94937   94937
Total               157959  157959

In [50]:
# 2020 Number self employed vs race cat

pd.crosstab(index=CPS_2020_ASECFLAG['SELFEMPLOYED_CAT'], columns=CPS_2020_ASECFLAG['MINORITYGROUPS_CAT'], margins=True, margins_name="Total")

MINORITYGROUPS_CAT  Minority Group  White   Total
SELFEMPLOYED_CAT
NA                           33059  47229   80288
Not_Self_Employed            27624  42218   69842
Self_Employed                 2339   5490    7829
Total                        63022  94937  157959

In [51]:
# create df ind+emp+Race

Ind_Emp_AllMinority_group = CPS_2020_ASECFLAG.groupby(["IND_CAT", 'SELFEMPLOYED_CAT', "MINORITYGROUPS_CAT"]).agg({"SELFEMPLOYED_CAT" : "count"})

In [52]:
# employment count by race info

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
display(Ind_Emp_AllMinority_group)

                                                                SELFEMPLOYED_CAT
IND_CAT                   SELFEMPLOYED_CAT  MINORITYGROUPS_CAT
Bookstore                 Not_Self_Employed Minority Group                     9
                                            White                             24
                          Self_Employed     Minority Group                     1
                                            White                              2
Clothing                  Not_Self_Employed Minority Group                   209
                                            White                            190
                          Self_Employed     Minority Group                    22
                                            White                             18
Deparment_store           Not_Self_Employed Minority Group                   127
                                            White                            146
Drinking_place            Not_Self_Employed Minority Group                    35
                                            White                             61
                          Self_Employed     Minority Group                     2
                                            White                             10
Florists                  Not_Self_Employed Minority Group                    10
                                            White                             20
                          Self_Employed     Minority Group                     6
                                            White                             14
Furniture                 Not_Self_Employed Minority Group                    88
                                            White                            132
                          Self_Employed     Minority Group                     4
                                            White                             22
Jewelry_Luggage           Not_Self_Employed Minority Group                    25
                                            White                             36
                          Self_Employed     Minority Group                     3
                                            White                             13
Laundry_service           Not_Self_Employed Minority Group                    63
                                            White                             48
                          Self_Employed     Minority Group                    18
                                            White                              4
Misc_Retail               Not_Self_Employed Minority Group                   103
                                            White                            180
                          Self_Employed     Minority Group                    13
                                            White                             43
Nailsalon_personalcare    Not_Self_Employed Minority Group                   139
                                            White                             51
                          Self_Employed     Minority Group                    44
                                            White                             53
Office_supplies           Not_Self_Employed Minority Group                    12
                                            White                             42
                          Self_Employed     White                              2
Other_General_Merchandise Not_Self_Employed Minority Group                   471
                                            White                            490
                          Self_Employed     Minority Group                     1
                                            White                              2
Other_notinstudy          NA                Minority Group                 33059
                                            White                          47229
                          Not_Self_Employed Minority Group                 23918
                                            White                          38452
                          Self_Employed     Minority Group                  2111
                                            White                           5125
Restaurants               Not_Self_Employed Minority Group                  2291
                                            White                           2104
                          Self_Employed     Minority Group                    99
                                            White                            133
Shoes                     Not_Self_Employed Minority Group                    38
                                            White                             21
                          Self_Employed     Minority Group                     1
Sporting_Hobby            Not_Self_Employed Minority Group                    49
                                            White                            152
                          Self_Employed     Minority Group                     6
                                            White                             26
Used_Merchandise          Not_Self_Employed Minority Group                    37
                                            White                             69
                          Self_Employed     Minority Group                     8
                                            White                             23

In [53]:
# Percentage all industries (ex: .0128% of self employed ppl in Bookstore industry identify as being a minority)

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:.5f}'.format
display(Ind_Emp_AllMinority_group.groupby(level=[1]).apply(lambda x: 100*x/x.sum()))

                                                                SELFEMPLOYED_CAT
IND_CAT                   SELFEMPLOYED_CAT  MINORITYGROUPS_CAT
Bookstore                 Not_Self_Employed Minority Group               0.01289
                                            White                        0.03436
                          Self_Employed     Minority Group               0.01277
                                            White                        0.02555
Clothing                  Not_Self_Employed Minority Group               0.29925
                                            White                        0.27204
                          Self_Employed     Minority Group               0.28101
                                            White                        0.22991
Deparment_store           Not_Self_Employed Minority Group               0.18184
                                            White                        0.20904
Drinking_place            Not_Self_Employed Minority Group               0.05011
                                            White                        0.08734
                          Self_Employed     Minority Group               0.02555
                                            White                        0.12773
Florists                  Not_Self_Employed Minority Group               0.01432
                                            White                        0.02864
                          Self_Employed     Minority Group               0.07664
                                            White                        0.17882
Furniture                 Not_Self_Employed Minority Group               0.12600
                                            White                        0.18900
                          Self_Employed     Minority Group               0.05109
                                            White                        0.28101
Jewelry_Luggage           Not_Self_Employed Minority Group               0.03580
                                            White                        0.05154
                          Self_Employed     Minority Group               0.03832
                                            White                        0.16605
Laundry_service           Not_Self_Employed Minority Group               0.09020
                                            White                        0.06873
                          Self_Employed     Minority Group               0.22991
                                            White                        0.05109
Misc_Retail               Not_Self_Employed Minority Group               0.14748
                                            White                        0.25772
                          Self_Employed     Minority Group               0.16605
                                            White                        0.54924
Nailsalon_personalcare    Not_Self_Employed Minority Group               0.19902
                                            White                        0.07302
                          Self_Employed     Minority Group               0.56201
                                            White                        0.67697
Office_supplies           Not_Self_Employed Minority Group               0.01718
                                            White                        0.06014
                          Self_Employed     White                        0.02555
Other_General_Merchandise Not_Self_Employed Minority Group               0.67438
                                            White                        0.70158
                          Self_Employed     Minority Group               0.01277
                                            White                        0.02555
Other_notinstudy          NA                Minority Group              41.17552
                                            White                       58.82448
                          Not_Self_Employed Minority Group              34.24587
                                            White                       55.05570
                          Self_Employed     Minority Group              26.96385
                                            White                       65.46174
Restaurants               Not_Self_Employed Minority Group               3.28026
                                            White                        3.01251
                          Self_Employed     Minority Group               1.26453
                                            White                        1.69881
Shoes                     Not_Self_Employed Minority Group               0.05441
                                            White                        0.03007
                          Self_Employed     Minority Group               0.01277
Sporting_Hobby            Not_Self_Employed Minority Group               0.07016
                                            White                        0.21763
                          Self_Employed     Minority Group               0.07664
                                            White                        0.33210
Used_Merchandise          Not_Self_Employed Minority Group               0.05298
                                            White                        0.09879
                          Self_Employed     Minority Group               0.10218
                                            White                        0.29378

## 2020 - Minority Categories - CA Level

### Study Groups

In [54]:
#Extract CA from year 2020 

CPS_2020_CA = CPS_2020_ASECFLAG[(CPS_2020_ASECFLAG['STATEFIP']==6)]
CPS_2020_CA.head(5)

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,STATEFIP,METRO,METAREA,INDIVIDCC,PERNUM,WTFINL,CPSIDP,ASECWT,RACE,ASIAN,HISPAN,EMPSTAT,IND,CLASSWKR,PAIDEMP1,PAIDEMP1N,COVIDTELEW,COVIDUNAW,COVIDPAID,COVIDLOOK,RACE_CAT,HISPAN_CAT,RACE2_CAT,ASIAN_CAT,IND_CAT,SELFEMPLOYED_CAT,State_Cat,SF_OAK_FRE,COVIDPAID_CAT,COVIDUNAW_CAT,COVIDLOOK_CAT,STUDYGROUPS_CAT,MINORITYGROUPS_CAT
2426726,2020,81564,3,nan,20190300960800,1.00000,nan,2260.34000,6,1,9998,0,1,nan,20190300960801,2260.34000,300,99.00000,0,36,0,0,nan,nan,nan,nan,nan,nan,American Indian/Native,Not Hispanic/ Latinx,American Indian/Native,NIU,Other_notinstudy,NA,CA,Not_Bay_Area,0,0,0,Not in Study,Minority Group
2426727,2020,81564,3,nan,20190300960800,1.00000,nan,2260.34000,6,1,9998,0,2,nan,20190300960802,2260.34000,300,99.00000,0,10,9480,25,nan,nan,nan,nan,nan,nan,American Indian/Native,Not Hispanic/ Latinx,American Indian/Native,NIU,Other_notinstudy,Not_Self_Employed,CA,Not_Bay_Area,0,0,0,Not in Study,Minority Group
2426728,2020,81564,3,nan,20190300960800,1.00000,nan,2260.34000,6,1,9998,0,3,nan,20190300960803,2585.21000,300,99.00000,0,0,0,0,nan,nan,nan,nan,nan,nan,American Indian/Native,Not Hispanic/ Latinx,American Indian/Native,NIU,Other_notinstudy,NA,CA,Not_Bay_Area,0,0,0,Not in Study,Minority Group
2426729,2020,81566,3,nan,20190200953100,1.00000,nan,3138.52000,6,1,9998,0,1,nan,20190200953101,3138.52000,100,99.00000,0,36,0,0,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,NA,CA,Not_Bay_Area,0,0,0,Not in Study,White
2426730,2020,81566,3,nan,20190200953100,1.00000,nan,3138.52000,6,1,9998,0,2,nan,20190200953102,3356.87000,100,99.00000,0,10,8370,21,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Not_Self_Employed,CA,Not_Bay_Area,0,0,0,Not in Study,White

In [55]:
# Race counts by Minority grouping
pd.crosstab(index=CPS_2020_CA['STUDYGROUPS_CAT'], columns='count', margins=True, margins_name="Total")

col_0                 count  Total
STUDYGROUPS_CAT
Not in Study           5661   5661
Study Minority Group  10032  10032
Total                 15693  15693

In [56]:
# 2020 Number self employed vs race cat

pd.crosstab(index=CPS_2020_CA['SELFEMPLOYED_CAT'], columns=CPS_2020_CA['STUDYGROUPS_CAT'], margins=True, margins_name="Total")

STUDYGROUPS_CAT    Not in Study  Study Minority Group  Total
SELFEMPLOYED_CAT
NA                         2806                  5123   7929
Not_Self_Employed          2452                  4499   6951
Self_Employed               403                   410    813
Total                      5661                 10032  15693

In [57]:
# create df ind+emp+Race

Ind_Emp_Minority_groupCA = CPS_2020_CA.groupby(["IND_CAT", 'SELFEMPLOYED_CAT', "STUDYGROUPS_CAT"]).agg({"SELFEMPLOYED_CAT" : "count"})

In [58]:
# employment count by race info

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
display(Ind_Emp_Minority_groupCA)

                                                                  SELFEMPLOYED_CAT
IND_CAT                   SELFEMPLOYED_CAT  STUDYGROUPS_CAT
Bookstore                 Not_Self_Employed Not in Study                         1
                                            Study Minority Group                 4
                          Self_Employed     Not in Study                         1
Clothing                  Not_Self_Employed Not in Study                        21
                                            Study Minority Group                32
                          Self_Employed     Study Minority Group                 2
Deparment_store           Not_Self_Employed Not in Study                         5
                                            Study Minority Group                14
Drinking_place            Not_Self_Employed Not in Study                         1
                                            Study Minority Group                 5
                          Self_Employed     Study Minority Group                 1
Florists                  Not_Self_Employed Not in Study                         2
                                            Study Minority Group                 3
                          Self_Employed     Not in Study                         2
Furniture                 Not_Self_Employed Not in Study                         9
                                            Study Minority Group                12
                          Self_Employed     Not in Study                         2
                                            Study Minority Group                 1
Jewelry_Luggage           Not_Self_Employed Not in Study                         1
                                            Study Minority Group                 5
                          Self_Employed     Not in Study                         1
Laundry_service           Not_Self_Employed Not in Study                         4
                                            Study Minority Group                11
                          Self_Employed     Study Minority Group                 6
Misc_Retail               Not_Self_Employed Not in Study                        15
                                            Study Minority Group                21
                          Self_Employed     Not in Study                         8
                                            Study Minority Group                 4
Nailsalon_personalcare    Not_Self_Employed Not in Study                         1
                                            Study Minority Group                25
                          Self_Employed     Not in Study                         2
                                            Study Minority Group                 9
Office_supplies           Not_Self_Employed Not in Study                         5
                                            Study Minority Group                 2
Other_General_Merchandise Not_Self_Employed Not in Study                        21
                                            Study Minority Group                60
Other_notinstudy          NA                Not in Study                      2806
                                            Study Minority Group              5123
                          Not_Self_Employed Not in Study                      2244
                                            Study Minority Group              3931
                          Self_Employed     Not in Study                       380
                                            Study Minority Group               366
Restaurants               Not_Self_Employed Not in Study                       113
                                            Study Minority Group               363
                          Self_Employed     Not in Study                         5
                                            Study Minority Group                17
Shoes                     Not_Self_Employed Not in Study                         2
                                            Study Minority Group                 7
                          Self_Employed     Study Minority Group                 1
Sporting_Hobby            Not_Self_Employed Not in Study                         2
                                            Study Minority Group                 3
                          Self_Employed     Study Minority Group                 1
Used_Merchandise          Not_Self_Employed Not in Study                         5
                                            Study Minority Group                 1
                          Self_Employed     Not in Study                         2
                                            Study Minority Group                 2

In [59]:
# Percentage all industries (ex: In CA, .246% of self employed ppl in Clothinh industry identify as being either Asian, Black, or Hispanic/Latinx)

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:.5f}'.format
display(Ind_Emp_Minority_groupCA.groupby(level=[1]).apply(lambda x: 100*x/x.sum()))

                                                                  SELFEMPLOYED_CAT
IND_CAT                   SELFEMPLOYED_CAT  STUDYGROUPS_CAT
Bookstore                 Not_Self_Employed Not in Study                   0.01439
                                            Study Minority Group           0.05755
                          Self_Employed     Not in Study                   0.12300
Clothing                  Not_Self_Employed Not in Study                   0.30211
                                            Study Minority Group           0.46037
                          Self_Employed     Study Minority Group           0.24600
Deparment_store           Not_Self_Employed Not in Study                   0.07193
                                            Study Minority Group           0.20141
Drinking_place            Not_Self_Employed Not in Study                   0.01439
                                            Study Minority Group           0.07193
                          Self_Employed     Study Minority Group           0.12300
Florists                  Not_Self_Employed Not in Study                   0.02877
                                            Study Minority Group           0.04316
                          Self_Employed     Not in Study                   0.24600
Furniture                 Not_Self_Employed Not in Study                   0.12948
                                            Study Minority Group           0.17264
                          Self_Employed     Not in Study                   0.24600
                                            Study Minority Group           0.12300
Jewelry_Luggage           Not_Self_Employed Not in Study                   0.01439
                                            Study Minority Group           0.07193
                          Self_Employed     Not in Study                   0.12300
Laundry_service           Not_Self_Employed Not in Study                   0.05755
                                            Study Minority Group           0.15825
                          Self_Employed     Study Minority Group           0.73801
Misc_Retail               Not_Self_Employed Not in Study                   0.21580
                                            Study Minority Group           0.30211
                          Self_Employed     Not in Study                   0.98401
                                            Study Minority Group           0.49200
Nailsalon_personalcare    Not_Self_Employed Not in Study                   0.01439
                                            Study Minority Group           0.35966
                          Self_Employed     Not in Study                   0.24600
                                            Study Minority Group           1.10701
Office_supplies           Not_Self_Employed Not in Study                   0.07193
                                            Study Minority Group           0.02877
Other_General_Merchandise Not_Self_Employed Not in Study                   0.30211
                                            Study Minority Group           0.86319
Other_notinstudy          NA                Not in Study                  35.38908
                                            Study Minority Group          64.61092
                          Not_Self_Employed Not in Study                  32.28312
                                            Study Minority Group          56.55301
                          Self_Employed     Not in Study                  46.74047
                                            Study Minority Group          45.01845
Restaurants               Not_Self_Employed Not in Study                   1.62567
                                            Study Minority Group           5.22227
                          Self_Employed     Not in Study                   0.61501
                                            Study Minority Group           2.09102
Shoes                     Not_Self_Employed Not in Study                   0.02877
                                            Study Minority Group           0.10070
                          Self_Employed     Study Minority Group           0.12300
Sporting_Hobby            Not_Self_Employed Not in Study                   0.02877
                                            Study Minority Group           0.04316
                          Self_Employed     Study Minority Group           0.12300
Used_Merchandise          Not_Self_Employed Not in Study                   0.07193
                                            Study Minority Group           0.01439
                          Self_Employed     Not in Study                   0.24600
                                            Study Minority Group           0.24600

### All Minority Groups

In [60]:
# Race counts by Minority grouping

pd.crosstab(index=CPS_2020_CA['MINORITYGROUPS_CAT'], columns='count', margins=True, margins_name="Total")

col_0               count  Total
MINORITYGROUPS_CAT
Minority Group      10522  10522
White                5171   5171
Total               15693  15693

In [61]:
# 2020 Number self employed vs race cat

pd.crosstab(index=CPS_2020_CA['SELFEMPLOYED_CAT'], columns=CPS_2020_ASECFLAG['MINORITYGROUPS_CAT'], margins=True, margins_name="Total")

MINORITYGROUPS_CAT  Minority Group  White  Total
SELFEMPLOYED_CAT
NA                            5416   2513   7929
Not_Self_Employed             4674   2277   6951
Self_Employed                  432    381    813
Total                        10522   5171  15693

In [62]:
# create df ind+emp+Race

Ind_Emp_AllMinority_groupCA = CPS_2020_CA.groupby(["IND_CAT", 'SELFEMPLOYED_CAT', "MINORITYGROUPS_CAT"]).agg({"SELFEMPLOYED_CAT" : "count"})

In [63]:
# employment count by race info

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
display(Ind_Emp_AllMinority_groupCA)

                                                                SELFEMPLOYED_CAT
IND_CAT                   SELFEMPLOYED_CAT  MINORITYGROUPS_CAT
Bookstore                 Not_Self_Employed Minority Group                     4
                                            White                              1
                          Self_Employed     White                              1
Clothing                  Not_Self_Employed Minority Group                    33
                                            White                             20
                          Self_Employed     Minority Group                     2
Deparment_store           Not_Self_Employed Minority Group                    14
                                            White                              5
Drinking_place            Not_Self_Employed Minority Group                     5
                                            White                              1
                          Self_Employed     Minority Group                     1
Florists                  Not_Self_Employed Minority Group                     3
                                            White                              2
                          Self_Employed     White                              2
Furniture                 Not_Self_Employed Minority Group                    14
                                            White                              7
                          Self_Employed     Minority Group                     1
                                            White                              2
Jewelry_Luggage           Not_Self_Employed Minority Group                     5
                                            White                              1
                          Self_Employed     White                              1
Laundry_service           Not_Self_Employed Minority Group                    11
                                            White                              4
                          Self_Employed     Minority Group                     6
Misc_Retail               Not_Self_Employed Minority Group                    22
                                            White                             14
                          Self_Employed     Minority Group                     4
                                            White                              8
Nailsalon_personalcare    Not_Self_Employed Minority Group                    25
                                            White                              1
                          Self_Employed     Minority Group                     9
                                            White                              2
Office_supplies           Not_Self_Employed Minority Group                     3
                                            White                              4
Other_General_Merchandise Not_Self_Employed Minority Group                    62
                                            White                             19
Other_notinstudy          NA                Minority Group                  5416
                                            White                           2513
                          Not_Self_Employed Minority Group                  4087
                                            White                           2088
                          Self_Employed     Minority Group                   388
                                            White                            358
Restaurants               Not_Self_Employed Minority Group                   374
                                            White                            102
                          Self_Employed     Minority Group                    17
                                            White                              5
Shoes                     Not_Self_Employed Minority Group                     7
                                            White                              2
                          Self_Employed     Minority Group                     1
Sporting_Hobby            Not_Self_Employed Minority Group                     3
                                            White                              2
                          Self_Employed     Minority Group                     1
Used_Merchandise          Not_Self_Employed Minority Group                     2
                                            White                              4
                          Self_Employed     Minority Group                     2
                                            White                              2

In [64]:
# Percentage all industries (ex: In CA, .246% of self employed ppl in Clothinh industry identify as being either Asian, Black, or Hispanic/Latinx)


pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:.5f}'.format
display(Ind_Emp_AllMinority_groupCA.groupby(level=[1]).apply(lambda x: 100*x/x.sum()))

                                                                SELFEMPLOYED_CAT
IND_CAT                   SELFEMPLOYED_CAT  MINORITYGROUPS_CAT
Bookstore                 Not_Self_Employed Minority Group               0.05755
                                            White                        0.01439
                          Self_Employed     White                        0.12300
Clothing                  Not_Self_Employed Minority Group               0.47475
                                            White                        0.28773
                          Self_Employed     Minority Group               0.24600
Deparment_store           Not_Self_Employed Minority Group               0.20141
                                            White                        0.07193
Drinking_place            Not_Self_Employed Minority Group               0.07193
                                            White                        0.01439
                          Self_Employed     Minority Group               0.12300
Florists                  Not_Self_Employed Minority Group               0.04316
                                            White                        0.02877
                          Self_Employed     White                        0.24600
Furniture                 Not_Self_Employed Minority Group               0.20141
                                            White                        0.10070
                          Self_Employed     Minority Group               0.12300
                                            White                        0.24600
Jewelry_Luggage           Not_Self_Employed Minority Group               0.07193
                                            White                        0.01439
                          Self_Employed     White                        0.12300
Laundry_service           Not_Self_Employed Minority Group               0.15825
                                            White                        0.05755
                          Self_Employed     Minority Group               0.73801
Misc_Retail               Not_Self_Employed Minority Group               0.31650
                                            White                        0.20141
                          Self_Employed     Minority Group               0.49200
                                            White                        0.98401
Nailsalon_personalcare    Not_Self_Employed Minority Group               0.35966
                                            White                        0.01439
                          Self_Employed     Minority Group               1.10701
                                            White                        0.24600
Office_supplies           Not_Self_Employed Minority Group               0.04316
                                            White                        0.05755
Other_General_Merchandise Not_Self_Employed Minority Group               0.89196
                                            White                        0.27334
Other_notinstudy          NA                Minority Group              68.30622
                                            White                       31.69378
                          Not_Self_Employed Minority Group              58.79730
                                            White                       30.03884
                          Self_Employed     Minority Group              47.72448
                                            White                       44.03444
Restaurants               Not_Self_Employed Minority Group               5.38052
                                            White                        1.46741
                          Self_Employed     Minority Group               2.09102
                                            White                        0.61501
Shoes                     Not_Self_Employed Minority Group               0.10070
                                            White                        0.02877
                          Self_Employed     Minority Group               0.12300
Sporting_Hobby            Not_Self_Employed Minority Group               0.04316
                                            White                        0.02877
                          Self_Employed     Minority Group               0.12300
Used_Merchandise          Not_Self_Employed Minority Group               0.02877
                                            White                        0.05755
                          Self_Employed     Minority Group               0.24600
                                            White                        0.24600

# Minority Ownership - US Level

In [65]:
#Extract self-employed from year 2020 

CPS_2020_selfemp = CPS_2020_ASECFLAG[(CPS_2020_ASECFLAG['SELFEMPLOYED_CAT'] == 'Self_Employed')] 
CPS_2020_selfemp.head(10)

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,STATEFIP,METRO,METAREA,INDIVIDCC,PERNUM,WTFINL,CPSIDP,ASECWT,RACE,ASIAN,HISPAN,EMPSTAT,IND,CLASSWKR,PAIDEMP1,PAIDEMP1N,COVIDTELEW,COVIDUNAW,COVIDPAID,COVIDLOOK,RACE_CAT,HISPAN_CAT,RACE2_CAT,ASIAN_CAT,IND_CAT,SELFEMPLOYED_CAT,State_Cat,SF_OAK_FRE,COVIDPAID_CAT,COVIDUNAW_CAT,COVIDLOOK_CAT,STUDYGROUPS_CAT,MINORITYGROUPS_CAT
2288992,2020,15,3,nan,20191202798200,1.00000,nan,1283.28000,23,1,9998,0,1,nan,20191202798201,1283.28000,100,99.00000,0,12,7071,13,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Self_Employed,Not_CA,Not_Bay_Area,0,0,0,Not in Study,White
2289042,2020,68,3,nan,0,1.00000,nan,1175.57000,23,1,9998,0,2,nan,0,1175.57000,100,99.00000,0,10,2980,14,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Self_Employed,Not_CA,Not_Bay_Area,0,0,0,Not in Study,White
2289058,2020,78,3,nan,20191202780200,1.00000,nan,1749.85000,23,1,9998,0,1,nan,20191202780201,1749.85000,100,99.00000,0,10,5490,14,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Used_Merchandise,Self_Employed,Not_CA,Not_Bay_Area,0,0,0,Not in Study,White
2289059,2020,78,3,nan,20191202780200,1.00000,nan,1749.85000,23,1,9998,0,2,nan,20191202780202,1749.85000,100,99.00000,0,10,5490,14,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Used_Merchandise,Self_Employed,Not_CA,Not_Bay_Area,0,0,0,Not in Study,White
2289073,2020,101,3,nan,20190202841500,1.00000,nan,877.87000,23,1,9998,0,1,nan,20190202841501,877.87000,100,99.00000,0,10,8564,13,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Self_Employed,Not_CA,Not_Bay_Area,0,0,0,Not in Study,White
2289076,2020,101,3,nan,20190202841500,1.00000,nan,877.87000,23,1,9998,0,4,nan,20190202841505,1084.79000,100,99.00000,0,10,8470,13,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Self_Employed,Not_CA,Not_Bay_Area,0,0,0,Not in Study,White
2289077,2020,101,3,nan,20190202841500,1.00000,nan,877.87000,23,1,9998,0,5,nan,20190202841504,857.34000,100,99.00000,0,10,770,13,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Self_Employed,Not_CA,Not_Bay_Area,0,0,0,Not in Study,White
2289079,2020,102,3,nan,20200102807800,1.00000,nan,950.00000,23,1,9998,0,1,nan,20200102807801,950.00000,100,99.00000,612,10,3980,13,nan,nan,nan,nan,nan,nan,White,Hispanic/ Latinx,Hispanic/ Latinx,NIU,Other_notinstudy,Self_Employed,Not_CA,Not_Bay_Area,0,0,0,Study Minority Group,Minority Group
2289085,2020,103,3,nan,20181202833700,1.00000,nan,1075.12000,23,1,9998,0,1,nan,20181202833701,1075.12000,100,99.00000,0,10,8770,14,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Self_Employed,Not_CA,Not_Bay_Area,0,0,0,Not in Study,White
2289115,2020,133,3,nan,0,1.00000,nan,784.27000,23,1,9998,0,2,nan,0,784.27000,100,99.00000,0,10,770,13,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Self_Employed,Not_CA,Not_Bay_Area,0,0,0,Not in Study,White

In [72]:
# 2020 Number Minority owned vs Industry

pd.crosstab(index=CPS_2020_selfemp['IND_CAT'], columns=CPS_2020_selfemp['MINORITYGROUPS_CAT'], margins=True, margins_name="Total")

MINORITYGROUPS_CAT         Minority Group  White  Total
IND_CAT
Bookstore                               1      2      3
Clothing                               22     18     40
Drinking_place                          2     10     12
Florists                                6     14     20
Furniture                               4     22     26
Jewelry_Luggage                         3     13     16
Laundry_service                        18      4     22
Misc_Retail                            13     43     56
Nailsalon_personalcare                 44     53     97
Office_supplies                         0      2      2
Other_General_Merchandise               1      2      3
Other_notinstudy                     2111   5125   7236
Restaurants                            99    133    232
Shoes                                   1      0      1
Sporting_Hobby                          6     26     32
Used_Merchandise                        8     23     31
Total                                2339   5490   7829

In [73]:
# create df minority ownership x Indus

Ind_Minority_group = CPS_2020_selfemp.groupby(["IND_CAT", "MINORITYGROUPS_CAT"]).agg({"MINORITYGROUPS_CAT" : "count"})

In [74]:
# Ownership % by racial category (ex: 33% of bookstores are minority owned)


pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:.5f}'.format
display(Ind_Minority_group.groupby(level=[0]).apply(lambda x: 100*x/x.sum()))

                                              MINORITYGROUPS_CAT
IND_CAT                   MINORITYGROUPS_CAT
Bookstore                 Minority Group                33.33333
                          White                         66.66667
Clothing                  Minority Group                55.00000
                          White                         45.00000
Drinking_place            Minority Group                16.66667
                          White                         83.33333
Florists                  Minority Group                30.00000
                          White                         70.00000
Furniture                 Minority Group                15.38462
                          White                         84.61538
Jewelry_Luggage           Minority Group                18.75000
                          White                         81.25000
Laundry_service           Minority Group                81.81818
                          White                         18.18182
Misc_Retail               Minority Group                23.21429
                          White                         76.78571
Nailsalon_personalcare    Minority Group                45.36082
                          White                         54.63918
Office_supplies           White                        100.00000
Other_General_Merchandise Minority Group                33.33333
                          White                         66.66667
Other_notinstudy          Minority Group                29.17358
                          White                         70.82642
Restaurants               Minority Group                42.67241
                          White                         57.32759
Shoes                     Minority Group               100.00000
Sporting_Hobby            Minority Group                18.75000
                          White                         81.25000
Used_Merchandise          Minority Group                25.80645
                          White                         74.19355

# Minority Ownership - CA Level

In [71]:
#Extract CA from 2020 self-employed

CPS_2020_selfempCA = CPS_2020_selfemp[(CPS_2020_selfemp['State_Cat'] == 'CA')] 
CPS_2020_selfempCA.head(10)

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,STATEFIP,METRO,METAREA,INDIVIDCC,PERNUM,WTFINL,CPSIDP,ASECWT,RACE,ASIAN,HISPAN,EMPSTAT,IND,CLASSWKR,PAIDEMP1,PAIDEMP1N,COVIDTELEW,COVIDUNAW,COVIDPAID,COVIDLOOK,RACE_CAT,HISPAN_CAT,RACE2_CAT,ASIAN_CAT,IND_CAT,SELFEMPLOYED_CAT,State_Cat,SF_OAK_FRE,COVIDPAID_CAT,COVIDUNAW_CAT,COVIDLOOK_CAT,STUDYGROUPS_CAT,MINORITYGROUPS_CAT
2426740,2020,81578,3,nan,20190200962600,1.00000,nan,2231.45000,6,1,9998,0,1,nan,20190200962601,2231.45000,802,99.00000,0,10,8570,13,nan,nan,nan,nan,nan,nan,Two or more races,Not Hispanic/ Latinx,Two or more races,NIU,Other_notinstudy,Self_Employed,CA,Not_Bay_Area,0,0,0,Not in Study,Minority Group
2426746,2020,81582,3,nan,20200100946000,1.00000,nan,1734.91000,6,1,9998,0,1,nan,20200100946001,1734.91000,100,99.00000,611,12,5593,13,nan,nan,nan,nan,nan,nan,White,Hispanic/ Latinx,Hispanic/ Latinx,NIU,Other_notinstudy,Self_Employed,CA,Not_Bay_Area,0,0,0,Study Minority Group,Minority Group
2426757,2020,81591,3,nan,20181200959200,1.00000,nan,1456.66000,6,1,9998,0,1,nan,20181200959201,1456.66000,100,99.00000,100,10,770,14,nan,nan,nan,nan,nan,nan,White,Hispanic/ Latinx,Hispanic/ Latinx,NIU,Other_notinstudy,Self_Employed,CA,Not_Bay_Area,0,0,0,Study Minority Group,Minority Group
2426764,2020,81596,3,nan,20200100946100,1.00000,nan,3405.33000,6,1,9998,0,1,nan,20200100946101,3405.33000,100,99.00000,0,10,770,13,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Self_Employed,CA,Not_Bay_Area,0,0,0,Not in Study,White
2426771,2020,81598,3,nan,20181200947800,1.00000,nan,3308.84000,6,1,9998,0,1,nan,20181200947801,3308.84000,100,99.00000,0,10,770,14,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Self_Employed,CA,Not_Bay_Area,0,0,0,Not in Study,White
2426772,2020,81598,3,nan,20181200947800,1.00000,nan,3308.84000,6,1,9998,0,2,nan,20181200947802,3308.84000,100,99.00000,0,10,5690,13,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Self_Employed,CA,Not_Bay_Area,0,0,0,Not in Study,White
2426811,2020,81629,3,nan,20190300959100,1.00000,nan,2120.30000,6,1,9998,0,1,nan,20190300959101,2120.30000,100,99.00000,0,10,8470,13,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Self_Employed,CA,Not_Bay_Area,0,0,0,Not in Study,White
2426823,2020,81638,3,nan,20181200962800,1.00000,nan,3166.53000,6,1,9998,0,1,nan,20181200962801,3166.53000,100,99.00000,0,10,770,13,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Self_Employed,CA,Not_Bay_Area,0,0,0,Not in Study,White
2426824,2020,81638,3,nan,20181200962800,1.00000,nan,3166.53000,6,1,9998,0,2,nan,20181200962802,2072.91000,100,99.00000,0,10,770,13,nan,nan,nan,nan,nan,nan,White,Not Hispanic/ Latinx,White,NIU,Other_notinstudy,Self_Employed,CA,Not_Bay_Area,0,0,0,Not in Study,White
2426825,2020,81639,3,nan,20200200960300,1.00000,nan,5239.53000,6,1,9998,0,1,nan,20200200960301,5239.53000,300,99.00000,0,12,770,13,nan,nan,nan,nan,nan,nan,American Indian/Native,Not Hispanic/ Latinx,American Indian/Native,NIU,Other_notinstudy,Self_Employed,CA,Not_Bay_Area,0,0,0,Not in Study,Minority Group

In [75]:
# 2020 Number Minority owned vs Industry in CA

pd.crosstab(index=CPS_2020_selfempCA['IND_CAT'], columns=CPS_2020_selfempCA['MINORITYGROUPS_CAT'], margins=True, margins_name="Total")

MINORITYGROUPS_CAT      Minority Group  White  Total
IND_CAT
Bookstore                            0      1      1
Clothing                             2      0      2
Drinking_place                       1      0      1
Florists                             0      2      2
Furniture                            1      2      3
Jewelry_Luggage                      0      1      1
Laundry_service                      6      0      6
Misc_Retail                          4      8     12
Nailsalon_personalcare               9      2     11
Other_notinstudy                   388    358    746
Restaurants                         17      5     22
Shoes                                1      0      1
Sporting_Hobby                       1      0      1
Used_Merchandise                     2      2      4
Total                              432    381    813

In [76]:
# create df minority ownership x Indus

Ind_Minority_groupCA = CPS_2020_selfempCA.groupby(["IND_CAT", "MINORITYGROUPS_CAT"]).agg({"MINORITYGROUPS_CAT" : "count"})

In [77]:
# Ownership % by racial category (ex: in CA, 100% of self-employed respondents worked in Bookstore industry)


pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:.5f}'.format
display(Ind_Minority_groupCA.groupby(level=[0]).apply(lambda x: 100*x/x.sum()))

                                           MINORITYGROUPS_CAT
IND_CAT                MINORITYGROUPS_CAT
Bookstore              White                        100.00000
Clothing               Minority Group               100.00000
Drinking_place         Minority Group               100.00000
Florists               White                        100.00000
Furniture              Minority Group                33.33333
                       White                         66.66667
Jewelry_Luggage        White                        100.00000
Laundry_service        Minority Group               100.00000
Misc_Retail            Minority Group                33.33333
                       White                         66.66667
Nailsalon_personalcare Minority Group                81.81818
                       White                         18.18182
Other_notinstudy       Minority Group                52.01072
                       White                         47.98928
Restaurants            Minority Group                77.27273
                       White                         22.72727
Shoes                  Minority Group               100.00000
Sporting_Hobby         Minority Group               100.00000
Used_Merchandise       Minority Group                50.00000
                       White                         50.00000